n8n-workflows/heyreach-activity-receiver.json
{
  "name": "HeyReach Activity Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heyreach-activity",
        "options": {}
      },
      "id": "70d502a7-a869-47f8-8c32-0800be31cd38",
      "name": "HeyReach Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4176,
        400
      ],
      "webhookId": "heyreach-activity-webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"event_type\": \"{{ $json.body?.event_type || $json.event_type || 'unknown' }}\",\n  \"heyreach_event_id\": \"{{ $json.body?.id || $json.id || $now.toMillis() }}\",\n  \"first_name\": \"{{ $json.body?.lead?.firstName || $json.lead?.firstName || '' }}\",\n  \"last_name\": \"{{ $json.body?.lead?.lastName || $json.lead?.lastName || '' }}\",\n  \"linkedin_url\": \"{{ $json.body?.lead?.linkedinUrl || $json.lead?.linkedinUrl || $json.body?.lead?.linkedin_url || $json.lead?.linkedin_url || '' }}\",\n  \"email\": \"{{ $json.body?.lead?.emailAddress || $json.lead?.emailAddress || $json.body?.lead?.email || $json.lead?.email || '' }}\",\n  \"company\": \"{{ $json.body?.lead?.companyName || $json.lead?.companyName || $json.body?.lead?.company || $json.lead?.company || '' }}\",\n  \"job_title\": \"{{ $json.body?.lead?.position || $json.lead?.position || $json.body?.lead?.jobTitle || $json.lead?.jobTitle || '' }}\",\n  \"message_text\": \"{{ $json.body?.message?.text || $json.message?.text || $json.body?.reply?.text || $json.reply?.text || '' }}\",\n  \"heyreach_campaign_id\": \"{{ $json.body?.campaign?.id || $json.campaign?.id || '' }}\",\n  \"heyreach_campaign_name\": \"{{ $json.body?.campaign?.name || $json.campaign?.name || '' }}\",\n  \"timestamp\": \"{{ $json.body?.timestamp || $json.timestamp || $now.toISO() }}\",\n  \"raw_payload\": {{ JSON.stringify($json.body || $json) }}\n}",
        "options": {}
      },
      "id": "f02355b0-41c8-4a04-8bd7-7f929957d8be",
      "name": "Extract Payload Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3968,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawUrl = $input.first().json.linkedin_url || '';\n\nfunction normalizeLinkedInUrl(url) {\n  if (!url || typeof url !== 'string') return null;\n  \n  let normalized = url.toLowerCase().trim();\n  \n  // Remove protocol\n  normalized = normalized.replace(/^https?:\\/\\//, '');\n  \n  // Remove www. and country subdomains (uk., de., fr., etc.)\n  normalized = normalized.replace(/^(www\\.|[a-z]{2}\\.)?linkedin\\.com/, 'linkedin.com');\n  \n  // Remove trailing slash\n  normalized = normalized.replace(/\\/$/, '');\n  \n  // Remove query params and hash\n  normalized = normalized.split('?')[0].split('#')[0];\n  \n  // Validate it looks like a LinkedIn URL\n  if (!normalized.startsWith('linkedin.com/in/')) {\n    // Try to extract just the profile path\n    const match = normalized.match(/linkedin\\.com\\/in\\/([\\w-]+)/);\n    if (match) {\n      normalized = 'linkedin.com/in/' + match[1];\n    } else {\n      return null;\n    }\n  }\n  \n  return normalized;\n}\n\n// Map HeyReach event types to our activity types\n// HeyReach events: Lead Tag Updated, Campaign Completed, Viewed Profile, Liked Post,\n// Follow Sent, Inmail Sent, Reply Received, Message Sent, Connection Request Accept\nconst eventTypeMap = {\n  // Connection events\n  'connection_request_sent': 'connection_sent',\n  'connection_request_accept': 'connection_accepted',\n  'connection_request_accepted': 'connection_accepted',\n  // Message events  \n  'message_sent': 'message_sent',\n  'inmail_sent': 'message_sent',\n  'reply_received': 'message_replied',\n  'first_inmail_reply_received': 'message_replied',\n  'message_reply_received': 'message_replied',\n  // Engagement events\n  'viewed_profile': 'profile_viewed',\n  'follow_sent': 'follow_sent',\n  'liked_post': 'liked_post',\n  // Campaign events\n  'campaign_completed': 'campaign_completed',\n  'lead_tag_updated': 'tag_updated'\n};\n\nconst inputData = $input.first().json;\nconst normalizedUrl = normalizeLinkedInUrl(rawUrl);\nconst mappedActivityType = eventTypeMap[inputData.event_type] || inputData.event_type;\n\nreturn [{\n  json: {\n    ...inputData,\n    normalized_linkedin_url: normalizedUrl,\n    original_linkedin_url: rawUrl,\n    mapped_activity_type: mappedActivityType,\n    is_reply_event: ['message_replied', 'message_reply_received', 'reply_received', 'first_inmail_reply_received'].includes(inputData.event_type)\n  }\n}];"
      },
      "id": "3051006f-6420-4f0d-9a0b-bb968e84176c",
      "name": "Normalize LinkedIn URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3744,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-linkedin-url",
              "leftValue": "={{ $json.normalized_linkedin_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4fe2de3b-797d-4ea0-bb7c-f90e30c24a69",
      "name": "Has Valid LinkedIn URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3520,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id FROM campaign_activity WHERE metadata->>'heyreach_event_id' = '{{ $json.heyreach_event_id }}' LIMIT 1",
        "options": {}
      },
      "id": "4e88bc6a-8f44-4f9a-8c10-256743d0be4f",
      "name": "Check Duplicate Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3296,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-duplicate",
              "leftValue": "={{ $json.length || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f013d1d5-6afc-44d4-80af-03a7deb6ea5c",
      "name": "Is New Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3088,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, email, first_name, last_name, linkedin_url FROM contacts WHERE LOWER(REPLACE(REPLACE(linkedin_url, 'https://', ''), 'http://', '')) ILIKE '%{{ $('Normalize LinkedIn URL').first().json.normalized_linkedin_url }}%' LIMIT 1",
        "options": {}
      },
      "id": "a246ace2-f436-4123-9198-71fb776bc4e8",
      "name": "Lookup Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2864,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "contact-found",
              "leftValue": "={{ $json.length || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3df6dff-a6d5-4391-9130-d57a3d399e2e",
      "name": "Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2640,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO contacts (first_name, last_name, email, linkedin_url, company, job_title, lifecycle_stage)\nVALUES (\n  '{{ $('Normalize LinkedIn URL').first().json.first_name }}',\n  '{{ $('Normalize LinkedIn URL').first().json.last_name }}',\n  NULLIF('{{ $('Normalize LinkedIn URL').first().json.email }}', ''),\n  '{{ $('Normalize LinkedIn URL').first().json.original_linkedin_url }}',\n  NULLIF('{{ $('Normalize LinkedIn URL').first().json.company }}', ''),\n  NULLIF('{{ $('Normalize LinkedIn URL').first().json.job_title }}', ''),\n  'lead'\n)\nRETURNING id, email, first_name, last_name, linkedin_url",
        "options": {}
      },
      "id": "4003bfc7-ccc9-42ef-b4aa-bbb42f66636f",
      "name": "Create New Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2416,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge contact data from lookup or creation\nconst normalizedData = $('Normalize LinkedIn URL').first().json;\nconst contactResult = $input.first().json;\n\n// Contact data comes as array from Postgres node or as object\nlet contact;\nif (Array.isArray(contactResult)) {\n  contact = contactResult[0];\n} else if (contactResult && contactResult.id) {\n  contact = contactResult;\n} else {\n  contact = null;\n}\n\n// Check if this is a new contact by seeing if we came from Create New Contact path\nconst isNewContact = contact && contact.id ? true : false;\n\nreturn [{\n  json: {\n    ...normalizedData,\n    contact_id: contact?.id || null,\n    contact_email: contact?.email || normalizedData.email,\n    contact_first_name: contact?.first_name || normalizedData.first_name,\n    contact_last_name: contact?.last_name || normalizedData.last_name,\n    is_new_contact: isNewContact\n  }\n}];\n"
      },
      "id": "076f487a-55bb-4e0c-a5b0-0a0e7c1439ee",
      "name": "Merge Contact Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ensure_campaign_contact AS (\n  INSERT INTO campaign_contacts (campaign_id, contact_id, status, entered_at)\n  VALUES (\n    'a1b2c3d4-e5f6-7890-abcd-ef1234567890',\n    '{{ $json.contact_id }}',\n    'active',\n    NOW()\n  )\n  ON CONFLICT (campaign_id, contact_id) DO UPDATE SET updated_at = NOW()\n  RETURNING id\n),\ncampaign_contact AS (\n  SELECT id FROM ensure_campaign_contact\n  UNION ALL\n  SELECT id FROM campaign_contacts \n  WHERE contact_id = '{{ $json.contact_id }}' \n    AND campaign_id = 'a1b2c3d4-e5f6-7890-abcd-ef1234567890'\n  LIMIT 1\n),\nensure_channel AS (\n  INSERT INTO campaign_contact_channels (campaign_contact_id, campaign_channel_id, status)\n  VALUES (\n    (SELECT id FROM campaign_contact LIMIT 1),\n    'cc111111-2222-3333-4444-555566667777',\n    'active'\n  )\n  ON CONFLICT (campaign_contact_id, campaign_channel_id) DO UPDATE SET updated_at = NOW()\n  RETURNING id\n)\nSELECT \n  (SELECT id FROM campaign_contact LIMIT 1) as campaign_contact_id,\n  (SELECT id FROM ensure_channel) as campaign_contact_channel_id,\n  'cc111111-2222-3333-4444-555566667777' as campaign_channel_id\n",
        "options": {}
      },
      "id": "90416cad-3ca6-4400-9382-f71b110e089e",
      "name": "Get/Create Campaign Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1984,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Merge Contact Data').first().json;\nconst campaignContext = $input.first().json;\n\n// Handle array response from Postgres\nconst ctx = Array.isArray(campaignContext) ? campaignContext[0] : campaignContext;\n\nreturn [{\n  json: {\n    ...prevData,\n    campaign_contact_id: ctx?.campaign_contact_id || null,\n    campaign_contact_channel_id: ctx?.campaign_contact_channel_id || null,\n    campaign_channel_id: ctx?.campaign_channel_id || 'cc111111-2222-3333-4444-555566667777'\n  }\n}];"
      },
      "id": "002eb255-51c5-468c-8b51-91b5e1a70769",
      "name": "Merge Campaign Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO campaign_activity (\n  campaign_contact_id,\n  campaign_channel_id,\n  activity_type,\n  channel,\n  activity_at,\n  metadata\n) VALUES (\n  '{{ $json.campaign_contact_id }}',\n  '{{ $json.campaign_channel_id }}',\n  '{{ $json.mapped_activity_type }}',\n  'linkedin',\n  '{{ $json.timestamp }}',\n  '{{ JSON.stringify({\n    heyreach_event_id: $json.heyreach_event_id,\n    message_text: $json.message_text,\n    raw_event_type: $json.event_type,\n    heyreach_campaign_id: $json.heyreach_campaign_id,\n    is_new_contact: $json.is_new_contact\n  }) }}'\n)\nRETURNING id",
        "options": {}
      },
      "id": "7da35312-1558-4764-af22-471069fd2ee1",
      "name": "Insert Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1536,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE campaign_contact_channels\nSET \n  updated_at = NOW(),\n  status = 'active',\n  {{ $json.mapped_activity_type === 'connection_sent' ? \"linkedin_connection_request_sent = TRUE, linkedin_connection_request_sent_at = NOW(),\" : \"\" }}\n  {{ $json.mapped_activity_type === 'connection_accepted' ? \"linkedin_connected = TRUE, linkedin_connected_at = NOW(),\" : \"\" }}\n  {{ $json.mapped_activity_type === 'message_replied' ? \"has_replied = TRUE, replied_at = NOW(), engagement_level = 'hot',\" : \"\" }}\n  {{ $json.mapped_activity_type === 'message_sent' ? \"current_message_sent_at = NOW(),\" : \"\" }}\n  last_touch_at = NOW()\nWHERE id = '{{ $json.campaign_contact_channel_id }}'",
        "options": {}
      },
      "id": "4e8a8540-1207-4da7-91ad-3aa1555e8887",
      "name": "Update Channel Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1328,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE campaign_contacts\nSET \n  updated_at = NOW(),\n  total_touches = total_touches + 1,\n  last_touch_at = NOW(),\n  first_touch_at = COALESCE(first_touch_at, NOW()),\n  first_engagement_at = CASE \n    WHEN first_engagement_at IS NULL AND '{{ $json.is_reply_event }}' = 'true' THEN NOW()\n    ELSE first_engagement_at\n  END\nWHERE id = '{{ $json.campaign_contact_id }}'",
        "options": {}
      },
      "id": "a45bbbe9-420b-44f9-ac24-7f13ff1412eb",
      "name": "Update Campaign Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1104,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-reply",
              "leftValue": "={{ $('Merge Campaign Context').first().json.is_reply_event }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "has-message-text",
              "leftValue": "={{ $('Merge Campaign Context').first().json.message_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12a28b17-d1a2-4cda-9ac7-69311127a1a5",
      "name": "Is Reply Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -880,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyA92ZVz8uAaRfJjHpFUIYrCa5B_06v5G1M",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Classify this LinkedIn reply for a professional training company's alumni outreach campaign.\\n\\nContext: We're reaching out to past participants of employment law training programs, offering them quarterly update sessions and virtual training opportunities.\\n\\nReply: \\\"{{ $('Merge Campaign Context').first().json.message_text.replace(/\"/g, '\\\\\"').replace(/\\n/g, ' ') }}\\\"\\n\\nClassify as ONE of these exact labels:\\n- positive_reply (interested in learning more, wants to reconnect, positive response)\\n- interested_secondary (specifically mentions virtual training, programs for colleagues, or training for their team)\\n- not_now_polite (polite decline, maybe later, timing issue, too busy right now)\\n- not_interested (firm no, not relevant to them, wrong person)\\n- unsubscribe (asks to be removed, stop contacting, do not contact again)\\n- neutral (unclear intent, just acknowledging receipt, asking questions)\\n\\nRespond with ONLY the classification label, nothing else.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.1,\n    \"maxOutputTokens\": 50\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4772e291-38fd-45ed-b633-692c693630af",
      "name": "AI Classify Reply (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const contextData = $('Merge Campaign Context').first().json;\nconst geminiResponse = $input.first().json;\n\n// Extract classification from Gemini response\nlet classification = 'neutral';\ntry {\n  const text = geminiResponse?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  classification = text.trim().toLowerCase().replace(/[^a-z_]/g, '');\n  \n  // Validate it's one of our expected values\n  const validClassifications = ['positive_reply', 'interested_secondary', 'not_now_polite', 'not_interested', 'unsubscribe', 'neutral'];\n  if (!validClassifications.includes(classification)) {\n    classification = 'neutral';\n  }\n} catch (e) {\n  classification = 'neutral';\n}\n\n// Map classification to branch\nconst branchMap = {\n  'positive_reply': 'A',\n  'interested_secondary': 'A+',\n  'not_now_polite': 'B',\n  'not_interested': null,\n  'unsubscribe': null,\n  'neutral': null\n};\n\nconst triggerEvent = classification;\nconst suggestedBranch = branchMap[classification];\nconst isOptOut = ['not_interested', 'unsubscribe'].includes(classification);\n\nreturn [{\n  json: {\n    ...contextData,\n    classification: classification,\n    trigger_event: triggerEvent,\n    suggested_branch: suggestedBranch,\n    is_opt_out: isOptOut,\n    gemini_raw_response: geminiResponse\n  }\n}];"
      },
      "id": "d8f860b8-a274-46b3-bd64-f0efe08cd91f",
      "name": "Process Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-branch",
              "leftValue": "={{ $json.suggested_branch }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4c56e8b-0495-46f6-92a0-8ea121ab1e5b",
      "name": "Needs Branch Assignment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT assign_ghl_branch(\n  '{{ $json.campaign_contact_id }}',\n  'linkedin',\n  '{{ $json.trigger_event }}'\n) as assigned_branch",
        "options": {}
      },
      "id": "1e24aeb8-0a47-479b-b48a-d28167e4fbd4",
      "name": "Assign GHL Branch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Process Classification').first().json;\nconst branchResult = $input.first().json;\n\n// Get branch from function result\nconst assignedBranch = Array.isArray(branchResult) \n  ? branchResult[0]?.assigned_branch \n  : branchResult?.assigned_branch;\n\nreturn [{\n  json: {\n    ...prevData,\n    assigned_branch: assignedBranch || prevData.suggested_branch\n  }\n}];"
      },
      "id": "0c8cde32-9271-449d-8093-68f9164b9bfd",
      "name": "Merge Branch Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/MjGEy0pobNT9su2YJqFI/webhook-trigger/cb929231-04f8-4235-b107-8f43dc03f992",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $json.contact_first_name || $json.first_name }}\",\n  \"last_name\": \"{{ $json.contact_last_name || $json.last_name }}\",\n  \"email\": \"{{ $json.contact_email || $json.email }}\",\n  \"linkedin_url\": \"{{ $json.original_linkedin_url }}\",\n  \"ghl_branch\": \"{{ $json.assigned_branch }}\",\n  \"campaign_name\": \"Alumni Reconnect Q1 2026\",\n  \"trigger_event\": \"{{ $json.trigger_event }}\",\n  \"trigger_channel\": \"linkedin\",\n  \"company\": \"{{ $json.company }}\",\n  \"job_title\": \"{{ $json.job_title }}\",\n  \"reply_text\": \"{{ $json.message_text.substring(0, 500) }}\",\n  \"reply_sentiment\": \"{{ $json.classification }}\",\n  \"source\": \"n8n_heyreach_integration\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "982bbc18-b70d-485f-821e-4aa9a8d1dee7",
      "name": "Push to GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-opt-out",
              "leftValue": "={{ $json.is_opt_out }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa2df3bb-aa3b-40ea-b2a9-dc1db6859602",
      "name": "Is Opt Out?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT handle_opt_out(\n  '{{ $json.campaign_contact_id }}',\n  'linkedin',\n  '{{ $json.classification === \"unsubscribe\" ? \"Requested removal via LinkedIn\" : \"Not interested\" }}'\n)",
        "options": {}
      },
      "id": "cb103265-f460-43f7-8db1-fb418acb51bc",
      "name": "Handle Opt Out",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE campaign_contact_channels\nSET \n  reply_sentiment = '{{ $json.classification }}',\n  updated_at = NOW()\nWHERE id = '{{ $json.campaign_contact_channel_id }}'",
        "options": {}
      },
      "id": "a044e256-022e-4e71-8dfe-1e2dfb55672e",
      "name": "Update Reply Sentiment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        416
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "d8066baa-905f-44d9-8825-9bbb334d5f66",
      "name": "End - Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO campaign_activity (\n  activity_type,\n  channel,\n  metadata\n) VALUES (\n  'webhook_received',\n  'system',\n  '{{ JSON.stringify({\n    error: \"Invalid LinkedIn URL\",\n    raw_url: $('Normalize LinkedIn URL').first().json.original_linkedin_url,\n    event_type: $('Normalize LinkedIn URL').first().json.event_type,\n    heyreach_event_id: $('Normalize LinkedIn URL').first().json.heyreach_event_id\n  }) }}'\n)",
        "options": {}
      },
      "id": "31ebfd2c-8a9a-4c36-9d47-4b637c1acdd8",
      "name": "Log Invalid URL Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3296,
        512
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "3da54bc3-ec5c-48cf-8cb0-60cea472ef03",
      "name": "End - Invalid Payload",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3088,
        512
      ]
    },
    {
      "parameters": {},
      "id": "99eac1cb-c9a1-4c99-bc4e-bc2e3003f7b6",
      "name": "End - Duplicate Skipped",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2864,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "HeyReach Webhook": {
      "main": [
        [
          {
            "node": "Extract Payload Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload Fields": {
      "main": [
        [
          {
            "node": "Normalize LinkedIn URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize LinkedIn URL": {
      "main": [
        [
          {
            "node": "Has Valid LinkedIn URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Valid LinkedIn URL?": {
      "main": [
        [
          {
            "node": "Check Duplicate Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid URL Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Event": {
      "main": [
        [
          {
            "node": "Is New Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Event?": {
      "main": [
        [
          {
            "node": "Lookup Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End - Duplicate Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Contact": {
      "main": [
        [
          {
            "node": "Contact Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found?": {
      "main": [
        [
          {
            "node": "Merge Contact Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Contact": {
      "main": [
        [
          {
            "node": "Merge Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Contact Data": {
      "main": [
        [
          {
            "node": "Get/Create Campaign Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get/Create Campaign Context": {
      "main": [
        [
          {
            "node": "Merge Campaign Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Campaign Context": {
      "main": [
        [
          {
            "node": "Insert Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Activity": {
      "main": [
        [
          {
            "node": "Update Channel Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Channel Status": {
      "main": [
        [
          {
            "node": "Update Campaign Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Campaign Contact": {
      "main": [
        [
          {
            "node": "Is Reply Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Reply Event?": {
      "main": [
        [
          {
            "node": "AI Classify Reply (Gemini)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify Reply (Gemini)": {
      "main": [
        [
          {
            "node": "Process Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Classification": {
      "main": [
        [
          {
            "node": "Needs Branch Assignment?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Reply Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Branch Assignment?": {
      "main": [
        [
          {
            "node": "Assign GHL Branch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Opt Out?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign GHL Branch": {
      "main": [
        [
          {
            "node": "Merge Branch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Branch Result": {
      "main": [
        [
          {
            "node": "Push to GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to GHL": {
      "main": [
        [
          {
            "node": "End - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Opt Out?": {
      "main": [
        [
          {
            "node": "Handle Opt Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Opt Out": {
      "main": [
        [
          {
            "node": "End - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Reply Sentiment": {
      "main": [
        [
          {
            "node": "End - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Invalid URL Error": {
      "main": [
        [
          {
            "node": "End - Invalid Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a4b4edd-a897-46a9-a045-582cef18ec8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f7825745c8d832579f8944a8977ccc40cc1572556aae3f7808e4ba42337190b"
  },
  "id": "9bt5BdyoosqB8ChU",
  "tags": [
    {
      "createdAt": "2026-01-10T14:10:25.084Z",
      "updatedAt": "2026-01-10T14:10:25.084Z",
      "id": "c5r5nIPJheYn3m1l",
      "name": "linkedin"
    },
    {
      "createdAt": "2026-01-10T14:10:25.096Z",
      "updatedAt": "2026-01-10T14:10:25.096Z",
      "id": "ieIxVjImTzKTcr00",
      "name": "heyreach"
    },
    {
      "createdAt": "2026-01-10T14:10:25.091Z",
      "updatedAt": "2026-01-10T14:10:25.091Z",
      "id": "ljFJhb1n2DNfKORc",
      "name": "campaign-tracking"
    }
  ]
}
