n8n-workflows/supabase-to-smartlead-exporter.json
{
  "name": "Supabase to Smartlead Exporter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "sl-export-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1400, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "export-to-smartlead",
        "options": {}
      },
      "id": "sl-export-webhook",
      "name": "Manual Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1400, 600],
      "webhookId": "export-to-smartlead"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get contacts enrolled in Alumni Reconnect campaign with valid email\n-- that haven't been exported to SmartLead yet\nSELECT \n  c.id as contact_id,\n  c.email,\n  c.first_name,\n  c.last_name,\n  c.company,\n  c.job_title,\n  c.phone,\n  cc.id as campaign_contact_id\nFROM contacts c\nJOIN campaign_contacts cc ON c.id = cc.contact_id\nLEFT JOIN campaign_contact_channels ccc ON ccc.campaign_contact_id = cc.id \n  AND ccc.campaign_channel_id = 'cc222222-3333-4444-5555-666677778888'\nWHERE cc.campaign_id = 'a1b2c3d4-e5f6-7890-abcd-ef1234567890'\n  AND cc.status = 'active'\n  AND c.email IS NOT NULL\n  AND c.email != ''\n  AND COALESCE(c.email_validation_result, 'unknown') IN ('valid', 'unknown', 'catch_all')\n  AND ccc.id IS NULL  -- Not yet assigned to SmartLead channel\nLIMIT 100  -- Batch size",
        "options": {}
      },
      "id": "sl-export-query",
      "name": "Get Contacts for SmartLead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-1000, 400],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-contacts",
              "leftValue": "={{ $json.length || ($json.contact_id ? 1 : 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sl-export-has-contacts",
      "name": "Has Contacts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-800, 400]
    },
    {
      "parameters": {
        "jsCode": "// Format contacts for SmartLead API\nconst contacts = $input.all();\n\n// SmartLead lead format\nconst smartleadLeads = contacts.map(item => {\n  const c = item.json;\n  return {\n    email: c.email,\n    first_name: c.first_name || '',\n    last_name: c.last_name || '',\n    company_name: c.company || '',\n    title: c.job_title || '',\n    phone: c.phone || '',\n    custom_fields: {\n      contact_id: c.contact_id,\n      campaign_contact_id: c.campaign_contact_id,\n      source: 'alumni_reconnect_q1_2026'\n    }\n  };\n});\n\nreturn {\n  json: {\n    leads: smartleadLeads,\n    total_count: smartleadLeads.length,\n    contact_ids: contacts.map(c => ({\n      contact_id: c.json.contact_id,\n      campaign_contact_id: c.json.campaign_contact_id,\n      email: c.json.email\n    }))\n  }\n};"
      },
      "id": "sl-export-format",
      "name": "Format for SmartLead API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://server.smartlead.ai/api/v1/campaigns/{{$env.SMARTLEAD_CAMPAIGN_ID}}/leads?api_key={{$env.SMARTLEAD_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_list: $json.leads }) }}",
        "options": {}
      },
      "id": "sl-export-api",
      "name": "POST to SmartLead API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, 304],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "api-success",
              "leftValue": "={{ $json.ok || $json.status === 'success' || $response.statusCode === 200 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sl-export-success",
      "name": "API Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-200, 304]
    },
    {
      "parameters": {
        "jsCode": "// Get the contact IDs from earlier node\nconst formatNode = $('Format for SmartLead API').first().json;\nconst contactIds = formatNode.contact_ids || [];\n\n// Prepare SQL values for batch insert\nconst channelId = 'cc222222-3333-4444-5555-666677778888'; // SmartLead channel\n\n// Build VALUES clause\nconst values = contactIds.map(c => \n  `('${c.campaign_contact_id}', '${channelId}', 'active')`\n).join(',\\n  ');\n\nreturn {\n  json: {\n    values: values,\n    count: contactIds.length,\n    contact_ids: contactIds\n  }\n};"
      },
      "id": "sl-export-prepare-insert",
      "name": "Prepare Channel Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 208]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Create campaign_contact_channels records for SmartLead\nINSERT INTO campaign_contact_channels (campaign_contact_id, campaign_channel_id, status)\nVALUES \n  {{ $json.values }}\nON CONFLICT (campaign_contact_id, campaign_channel_id) DO UPDATE SET\n  status = 'active',\n  updated_at = NOW()",
        "options": {}
      },
      "id": "sl-export-insert-channels",
      "name": "Create Channel Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [200, 208],
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Log export activity\nINSERT INTO campaign_activity (campaign_contact_id, campaign_channel_id, activity_type, channel, metadata)\nSELECT \n  unnest(ARRAY{{ JSON.stringify($('Prepare Channel Insert').first().json.contact_ids.map(c => c.campaign_contact_id)) }}::uuid[]),\n  'cc222222-3333-4444-5555-666677778888'::uuid,\n  'sent',\n  'smartlead',\n  jsonb_build_object(\n    'export_batch', '{{ $now.toISO() }}',\n    'total_in_batch', {{ $('Prepare Channel Insert').first().json.count }}\n  )",
        "options": {}
      },
      "id": "sl-export-log-activity",
      "name": "Log Export Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [400, 208],
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"exported_count\": {{ $('Prepare Channel Insert').first().json.count }},\n  \"timestamp\": \"{{ $now.toISO() }}\",\n  \"campaign\": \"Alumni Reconnect Q1 2026\",\n  \"platform\": \"smartlead\"\n}",
        "options": {}
      },
      "id": "sl-export-success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [600, 208]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": false,\n  \"error\": \"API call failed\",\n  \"response\": {{ JSON.stringify($json) }},\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "sl-export-error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 400]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"exported_count\": 0,\n  \"message\": \"No contacts to export\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "sl-export-no-contacts",
      "name": "No Contacts Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-600, 496]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Contacts for SmartLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger Webhook": {
      "main": [
        [
          {
            "node": "Get Contacts for SmartLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts for SmartLead": {
      "main": [
        [
          {
            "node": "Has Contacts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Contacts?": {
      "main": [
        [
          {
            "node": "Format for SmartLead API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Contacts Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for SmartLead API": {
      "main": [
        [
          {
            "node": "POST to SmartLead API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to SmartLead API": {
      "main": [
        [
          {
            "node": "API Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Success?": {
      "main": [
        [
          {
            "node": "Prepare Channel Insert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Channel Insert": {
      "main": [
        [
          {
            "node": "Create Channel Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Channel Records": {
      "main": [
        [
          {
            "node": "Log Export Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Export Activity": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "alumni-reconnect-exporter"
  },
  "tags": [
    {
      "name": "alumni-reconnect",
      "id": "tag-alumni"
    },
    {
      "name": "export",
      "id": "tag-export"
    }
  ]
}
