n8n-workflows/waterfall-enrichment.json
{
  "name": "Waterfall Enrichment (LinkedIn → Apollo → NeverBounce)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "wf-enrich-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1600, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waterfall-enrichment",
        "options": {}
      },
      "id": "wf-enrich-webhook",
      "name": "Manual Trigger / Connection Accepted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1600, 600],
      "webhookId": "waterfall-enrichment"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get LinkedIn-only contacts that need email enrichment\n-- Priority: Recently connected > campaign enrolled > by creation date\nSELECT \n  c.id as contact_id,\n  c.first_name,\n  c.last_name,\n  c.company,\n  c.job_title,\n  c.linkedin_url,\n  cc.id as campaign_contact_id,\n  ccc.linkedin_connected,\n  ccc.linkedin_connected_at\nFROM contacts c\nJOIN campaign_contacts cc ON c.id = cc.contact_id\nLEFT JOIN campaign_contact_channels ccc ON ccc.campaign_contact_id = cc.id \n  AND ccc.campaign_channel_id = 'cc111111-2222-3333-4444-555566667777'\nWHERE cc.campaign_id = 'a1b2c3d4-e5f6-7890-abcd-ef1234567890'\n  AND cc.status = 'active'\n  AND c.linkedin_url IS NOT NULL\n  AND c.linkedin_url != ''\n  AND (c.email IS NULL OR c.email = '')  -- No email yet\n  AND (c.email_validation_result IS NULL OR c.email_validation_result NOT IN ('valid', 'invalid'))  -- Not yet validated\nORDER BY \n  ccc.linkedin_connected DESC NULLS LAST,  -- Prioritize connected contacts\n  cc.created_at ASC\nLIMIT 25  -- Batch size (Apollo credit conscious)",
        "options": {}
      },
      "id": "wf-enrich-query",
      "name": "Get Contacts Without Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-1200, 400],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-contacts",
              "leftValue": "={{ $json.length || ($json.contact_id ? 1 : 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf-enrich-has-contacts",
      "name": "Has Contacts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1000, 400]
    },
    {
      "parameters": {},
      "id": "wf-enrich-split",
      "name": "Split Out Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-800, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/people/match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"organization_name\": \"{{ $json.company }}\",\n  \"linkedin_url\": \"{{ $json.linkedin_url }}\"\n}",
        "options": {}
      },
      "id": "wf-enrich-apollo",
      "name": "Apollo Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-600, 304],
      "credentials": {
        "httpHeaderAuth": {
          "id": "apollo-api-key",
          "name": "Apollo API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst originalContact = $('Split Out Items').first().json;\n\n// Extract email from Apollo response\nlet email = null;\nlet apolloData = {};\n\nif (input && input.person) {\n  const person = input.person;\n  email = person.email || null;\n  apolloData = {\n    apollo_id: person.id,\n    email: email,\n    phone: person.phone_numbers?.[0]?.sanitized_number || null,\n    title: person.title || null,\n    organization: person.organization?.name || null,\n    linkedin_url: person.linkedin_url || null\n  };\n}\n\nreturn {\n  json: {\n    ...originalContact,\n    enriched_email: email,\n    apollo_data: apolloData,\n    needs_validation: email !== null\n  }\n};"
      },
      "id": "wf-enrich-extract-apollo",
      "name": "Extract Apollo Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.enriched_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf-enrich-has-email",
      "name": "Found Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-200, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.neverbounce.com/v4.2/single/check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"key\": \"{{$env.NEVERBOUNCE_API_KEY}}\",\n  \"email\": \"{{ $json.enriched_email }}\"\n}",
        "options": {}
      },
      "id": "wf-enrich-neverbounce",
      "name": "NeverBounce Validation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 208],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const nbResponse = $input.first().json;\nconst contactData = $('Found Email?').first().json;\n\n// NeverBounce result codes:\n// 0 = valid, 1 = invalid, 2 = disposable, 3 = catchall, 4 = unknown\nconst resultMap = {\n  0: 'valid',\n  1: 'invalid',\n  2: 'invalid',  // disposable\n  3: 'catch_all',\n  4: 'unknown'\n};\n\nconst resultCode = nbResponse.result;\nconst validationResult = resultMap[resultCode] || 'unknown';\nconst isUsable = ['valid', 'catch_all'].includes(validationResult);\n\nreturn {\n  json: {\n    ...contactData,\n    email_validation_result: validationResult,\n    email_validation_code: resultCode,\n    email_is_usable: isUsable,\n    neverbounce_response: nbResponse\n  }\n};"
      },
      "id": "wf-enrich-process-nb",
      "name": "Process NeverBounce Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 208]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Update contact with enriched email and validation\nUPDATE contacts\nSET \n  email = '{{ $json.enriched_email }}',\n  email_status = '{{ $json.email_validation_result }}',\n  email_validation_result = '{{ $json.email_validation_result }}',\n  email_validated_at = NOW(),\n  email_validation_source = 'neverbounce',\n  email_validation_details = '{{ JSON.stringify({\n    source: \"waterfall_enrichment\",\n    apollo_data: $json.apollo_data,\n    neverbounce_code: $json.email_validation_code,\n    enriched_at: $now.toISO()\n  }) }}'::jsonb,\n  updated_at = NOW()\nWHERE id = '{{ $json.contact_id }}'",
        "options": {}
      },
      "id": "wf-enrich-update-contact",
      "name": "Update Contact with Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [400, 208],
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-usable",
              "leftValue": "={{ $('Process NeverBounce Result').first().json.email_is_usable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf-enrich-is-usable",
      "name": "Email Usable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 208]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Add contact to SmartLead channel now that we have valid email\nINSERT INTO campaign_contact_channels (campaign_contact_id, campaign_channel_id, status)\nVALUES (\n  '{{ $('Process NeverBounce Result').first().json.campaign_contact_id }}',\n  'cc222222-3333-4444-5555-666677778888',\n  'pending'\n)\nON CONFLICT (campaign_contact_id, campaign_channel_id) \nDO UPDATE SET status = 'pending', updated_at = NOW()",
        "options": {}
      },
      "id": "wf-enrich-add-to-smartlead",
      "name": "Add to SmartLead Channel",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [800, 112],
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Log enrichment activity\nINSERT INTO campaign_activity (\n  campaign_contact_id,\n  activity_type,\n  channel,\n  metadata\n) VALUES (\n  '{{ $('Process NeverBounce Result').first().json.campaign_contact_id }}',\n  'contact_created',\n  'system',\n  '{{ JSON.stringify({\n    action: \"email_enriched\",\n    email: $('Process NeverBounce Result').first().json.enriched_email,\n    validation_result: $('Process NeverBounce Result').first().json.email_validation_result,\n    source: \"apollo\",\n    validator: \"neverbounce\",\n    added_to_smartlead: $('Process NeverBounce Result').first().json.email_is_usable\n  }) }}'::jsonb\n)",
        "options": {}
      },
      "id": "wf-enrich-log-activity",
      "name": "Log Enrichment Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 112],
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Log that email was invalid\nINSERT INTO campaign_activity (\n  campaign_contact_id,\n  activity_type,\n  channel,\n  metadata\n) VALUES (\n  '{{ $('Process NeverBounce Result').first().json.campaign_contact_id }}',\n  'status_changed',\n  'system',\n  '{{ JSON.stringify({\n    action: \"email_invalid\",\n    email: $('Process NeverBounce Result').first().json.enriched_email,\n    validation_result: $('Process NeverBounce Result').first().json.email_validation_result,\n    source: \"apollo\",\n    validator: \"neverbounce\"\n  }) }}'::jsonb\n)",
        "options": {}
      },
      "id": "wf-enrich-log-invalid",
      "name": "Log Invalid Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [800, 304],
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Log that no email was found for this contact\nINSERT INTO campaign_activity (\n  campaign_contact_id,\n  activity_type,\n  channel,\n  metadata\n) VALUES (\n  '{{ $json.campaign_contact_id }}',\n  'status_changed',\n  'system',\n  '{{ JSON.stringify({\n    action: \"enrichment_no_email\",\n    source: \"apollo\",\n    first_name: $json.first_name,\n    last_name: $json.last_name,\n    company: $json.company\n  }) }}'::jsonb\n)",
        "options": {}
      },
      "id": "wf-enrich-log-no-email",
      "name": "Log No Email Found",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [0, 400],
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"processed_count\": 0,\n  \"message\": \"No contacts need enrichment\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "wf-enrich-no-contacts",
      "name": "No Contacts Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-800, 496]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "wf-enrich-loop",
      "name": "Rate Limit Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-600, 500]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "wf-enrich-wait",
      "name": "Wait 2 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1200, 112]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Contacts Without Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger / Connection Accepted": {
      "main": [
        [
          {
            "node": "Get Contacts Without Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts Without Email": {
      "main": [
        [
          {
            "node": "Has Contacts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Contacts?": {
      "main": [
        [
          {
            "node": "Split Out Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Contacts Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Items": {
      "main": [
        [
          {
            "node": "Apollo Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Enrichment": {
      "main": [
        [
          {
            "node": "Extract Apollo Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Apollo Data": {
      "main": [
        [
          {
            "node": "Found Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found Email?": {
      "main": [
        [
          {
            "node": "NeverBounce Validation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Email Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NeverBounce Validation": {
      "main": [
        [
          {
            "node": "Process NeverBounce Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process NeverBounce Result": {
      "main": [
        [
          {
            "node": "Update Contact with Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact with Email": {
      "main": [
        [
          {
            "node": "Email Usable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Usable?": {
      "main": [
        [
          {
            "node": "Add to SmartLead Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to SmartLead Channel": {
      "main": [
        [
          {
            "node": "Log Enrichment Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Enrichment Activity": {
      "main": [
        [
          {
            "node": "Wait 2 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "alumni-reconnect-enrichment"
  },
  "tags": [
    {
      "name": "alumni-reconnect",
      "id": "tag-alumni"
    },
    {
      "name": "enrichment",
      "id": "tag-enrichment"
    }
  ]
}
