gsd-web-intelligence/workflows/BKL-05-toxic-link-alerter.json
{
  "name": "Web Intel - Toxic Link Alerter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 6 * * 1"}]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Monday 6am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, source_url, source_domain, target_url, domain_authority, spam_score FROM web_intel.backlinks WHERE status = 'active' AND spam_score >= 30 ORDER BY spam_score DESC LIMIT 50"
      },
      "id": "fetch-toxic",
      "name": "Fetch Toxic Links",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Analyze toxic backlinks\nconst links = $input.all().map(i => i.json);\n\nif (links.length === 0) {\n  return [{ json: { has_toxic: false, summary: 'No toxic backlinks detected' } }];\n}\n\n// Categorize by severity\nconst critical = links.filter(l => l.spam_score >= 70);  // Very high spam\nconst warning = links.filter(l => l.spam_score >= 50 && l.spam_score < 70);\nconst watch = links.filter(l => l.spam_score >= 30 && l.spam_score < 50);\n\n// Mark as toxic in database\nconst toxicIds = critical.map(l => l.id);\n\nreturn [{\n  json: {\n    has_toxic: true,\n    total_toxic: links.length,\n    critical_count: critical.length,\n    warning_count: warning.length,\n    watch_count: watch.length,\n    critical_links: critical.slice(0, 5),\n    warning_links: warning.slice(0, 5),\n    toxic_ids: toxicIds\n  }\n}];"
      },
      "id": "analyze-toxic",
      "name": "Analyze Toxic Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "has-toxic", "leftValue": "={{ $json.has_toxic }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}]
        }
      },
      "id": "check-toxic",
      "name": "Has Toxic?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE web_intel.backlinks SET status = 'toxic' WHERE spam_score >= 70 AND status = 'active'"
      },
      "id": "mark-toxic",
      "name": "Mark as Toxic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEB_INTEL_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \":biohazard_sign: *Toxic Backlink Alert*\\n\\n*Total Suspicious:* {{ $json.total_toxic }}\\n• :rotating_light: Critical (70+ spam): {{ $json.critical_count }}\\n• :warning: Warning (50-69 spam): {{ $json.warning_count }}\\n• :eyes: Watch (30-49 spam): {{ $json.watch_count }}\\n\\n*Critical Links:*\\n{{ $json.critical_links.slice(0, 3).map(l => '• ' + l.source_domain + ' (spam: ' + l.spam_score + ')').join('\\\\n') }}\\n\\n_Consider disavowing critical links in GSC_\"}"
      },
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 100]
    }
  ],
  "connections": {
    "Weekly Monday 6am CT": {"main": [[{"node": "Fetch Toxic Links", "type": "main", "index": 0}]]},
    "Fetch Toxic Links": {"main": [[{"node": "Analyze Toxic Links", "type": "main", "index": 0}]]},
    "Analyze Toxic Links": {"main": [[{"node": "Has Toxic?", "type": "main", "index": 0}]]},
    "Has Toxic?": {"main": [[{"node": "Mark as Toxic", "type": "main", "index": 0}, {"node": "Send to Slack", "type": "main", "index": 0}], []]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "web-intel"}, {"name": "backlinks"}, {"name": "toxic"}, {"name": "weekly"}]
}
