gsd-web-intelligence/workflows/CNT-02-content-decay-detector.json
{
  "name": "Web Intel - Content Decay Detector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 6 * * 1"}]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Monday 6am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM web_intel.content_decay_candidates WHERE decline_percent >= 20 ORDER BY decline_percent DESC LIMIT 50"
      },
      "id": "fetch-decay",
      "name": "Fetch Decay Candidates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Process decay candidates and generate alerts\nconst candidates = $input.all().map(i => i.json);\n\nif (candidates.length === 0) {\n  return [{ json: { has_decay: false, alerts: [], summary: 'No content decay detected' } }];\n}\n\nconst alerts = candidates.map(c => ({\n  type: 'content_decay',\n  severity: c.decline_percent >= 50 ? 'critical' : c.decline_percent >= 30 ? 'warning' : 'info',\n  page: c.page,\n  current_sessions: c.current_sessions,\n  historical_sessions: c.historical_sessions,\n  decline_percent: Math.round(c.decline_percent),\n  message: `${c.page}: -${Math.round(c.decline_percent)}% (${c.current_sessions} vs ${c.historical_sessions} sessions)`\n}));\n\nconst critical = alerts.filter(a => a.severity === 'critical').length;\nconst warning = alerts.filter(a => a.severity === 'warning').length;\n\nreturn [{ \n  json: { \n    has_decay: true, \n    alerts,\n    critical_count: critical,\n    warning_count: warning,\n    total_count: alerts.length,\n    summary: `${critical} critical, ${warning} warning, ${alerts.length} total decaying pages`\n  } \n}];"
      },
      "id": "analyze-decay",
      "name": "Analyze Decay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "has-decay", "leftValue": "={{ $json.has_decay }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}]
        }
      },
      "id": "check-decay",
      "name": "Has Decay?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_WEBHOOK_BASE}}/webhook/cnt-03-decay-alert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "trigger-alerter",
      "name": "Trigger Alerter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO web_intel.collection_log (workflow_id, workflow_name, status, records_processed, completed_at) VALUES ('CNT-02', 'Content Decay Detector', 'success', {{ $json.total_count || 0 }}, NOW())"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 100]
    }
  ],
  "connections": {
    "Weekly Monday 6am CT": {"main": [[{"node": "Fetch Decay Candidates", "type": "main", "index": 0}]]},
    "Fetch Decay Candidates": {"main": [[{"node": "Analyze Decay", "type": "main", "index": 0}]]},
    "Analyze Decay": {"main": [[{"node": "Has Decay?", "type": "main", "index": 0}]]},
    "Has Decay?": {"main": [[{"node": "Trigger Alerter", "type": "main", "index": 0}], [{"node": "Log Success", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "web-intel"}, {"name": "content"}, {"name": "decay"}, {"name": "weekly"}]
}
