gsd-web-intelligence/workflows/GSC-05-crawl-stats.json
{
  "name": "Web Intel - GSC - Crawl Stats Analyzer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 5 * * 1"}]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Monday 5am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://searchconsole.googleapis.com/v1/sites/{{$env.GSC_SITE_URL}}/crawlStats",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi"
      },
      "id": "gsc-crawl-stats",
      "name": "GSC - Crawl Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Analyze crawl stats for issues\nconst data = $input.first().json;\nconst stats = data.record || {};\n\nconst alerts = [];\nconst avgResponseTime = stats.averageResponseTime || 0;\nconst crawlRequests = stats.crawlRequests || 0;\n\n// Check for slow response time\nif (avgResponseTime > 1000) {\n  alerts.push({\n    type: 'crawl_slow',\n    severity: avgResponseTime > 2000 ? 'warning' : 'info',\n    message: `Average crawl response time is ${avgResponseTime}ms (threshold: 1000ms)`\n  });\n}\n\nreturn [{ json: { stats, alerts, has_alerts: alerts.length > 0 } }];"
      },
      "id": "analyze-stats",
      "name": "Analyze Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "has-alerts", "leftValue": "={{ $json.has_alerts }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}]
        }
      },
      "id": "check-alerts",
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEB_INTEL_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \":spider_web: *Crawl Stats Alert*\\n{{ $json.alerts.map(a => a.message).join('\\n') }}\"}"
      },
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100]
    }
  ],
  "connections": {
    "Weekly Monday 5am CT": {"main": [[{"node": "GSC - Crawl Stats", "type": "main", "index": 0}]]},
    "GSC - Crawl Stats": {"main": [[{"node": "Analyze Stats", "type": "main", "index": 0}]]},
    "Analyze Stats": {"main": [[{"node": "Has Alerts?", "type": "main", "index": 0}]]},
    "Has Alerts?": {"main": [[{"node": "Send to Slack", "type": "main", "index": 0}], []]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "web-intel"}, {"name": "gsc"}, {"name": "weekly"}]
}
