gsd-web-intelligence/workflows/GSC-06-mobile-usability.json
{
  "name": "Web Intel - GSC - Mobile Usability Checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 5 * * 3"}]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Wednesday 5am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://searchconsole.googleapis.com/v1/sites/{{$env.GSC_SITE_URL}}/mobileUsabilityIssues",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi"
      },
      "id": "gsc-mobile",
      "name": "GSC - Mobile Usability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Check for mobile usability issues\nconst data = $input.first().json;\nconst issues = data.mobileUsabilityIssue || [];\n\nconst alerts = issues.filter(i => i.severity === 'ERROR').map(issue => ({\n  type: 'mobile_usability',\n  severity: 'warning',\n  message: `${issue.issueType}: ${issue.message} (${issue.affectedUrls || 0} URLs)`\n}));\n\nreturn [{ json: { issues, alerts, has_alerts: alerts.length > 0, issue_count: issues.length } }];"
      },
      "id": "analyze-issues",
      "name": "Analyze Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "has-alerts", "leftValue": "={{ $json.has_alerts }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}]
        }
      },
      "id": "check-alerts",
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEB_INTEL_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \":iphone: *Mobile Usability Issues*\\n{{ $json.alerts.map(a => a.message).join('\\n') }}\"}"
      },
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100]
    }
  ],
  "connections": {
    "Weekly Wednesday 5am CT": {"main": [[{"node": "GSC - Mobile Usability", "type": "main", "index": 0}]]},
    "GSC - Mobile Usability": {"main": [[{"node": "Analyze Issues", "type": "main", "index": 0}]]},
    "Analyze Issues": {"main": [[{"node": "Has Issues?", "type": "main", "index": 0}]]},
    "Has Issues?": {"main": [[{"node": "Send to Slack", "type": "main", "index": 0}], []]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "web-intel"}, {"name": "gsc"}, {"name": "mobile"}, {"name": "weekly"}]
}
