gsd-web-intelligence/workflows/RNK-04-serp-features.json
{
  "name": "Web Intel - Rankings - SERP Features",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 5 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 5:15am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  dr.keyword_id,\n  dr.collected_date,\n  dr.has_featured_snippet,\n  dr.featured_snippet_owner,\n  dr.competitor_positions\nFROM web_intel.daily_rankings dr\nJOIN web_intel.tracked_keywords tk ON dr.keyword_id = tk.id\nWHERE dr.collected_date = CURRENT_DATE\n  AND tk.status = 'active'",
        "options": {}
      },
      "id": "fetch-rankings",
      "name": "Fetch Today Rankings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "credentials": {
        "postgres": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform rankings data to SERP features format\nconst rankings = $input.all();\nconst today = new Date().toISOString().split('T')[0];\n\nconst features = rankings.map(item => {\n  const data = item.json;\n  const features_present = [];\n  \n  // Check featured snippet\n  if (data.has_featured_snippet) {\n    features_present.push('featured_snippet');\n  }\n  \n  // Build featured_snippet JSONB\n  const featured_snippet = data.has_featured_snippet ? {\n    present: true,\n    owner: data.featured_snippet_owner\n  } : null;\n  \n  return {\n    json: {\n      keyword_id: data.keyword_id,\n      collected_date: today,\n      features_present: `{${features_present.join(',')}}`,\n      featured_snippet: featured_snippet ? JSON.stringify(featured_snippet) : null\n    }\n  };\n});\n\nreturn features;"
      },
      "id": "transform-data",
      "name": "Transform to SERP Features",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "web_intel",
        "table": "serp_features",
        "columns": "keyword_id, collected_date, features_present, featured_snippet",
        "conflictColumns": "keyword_id, collected_date",
        "options": {}
      },
      "id": "supabase-upsert",
      "name": "Supabase - Store SERP Features",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 0],
      "credentials": {
        "postgres": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Find featured snippet opportunities\n-- Keywords where we rank 1-3 but competitor has featured snippet\nSELECT \n  tk.keyword,\n  dr.position,\n  sf.featured_snippet->>'owner' as fs_owner\nFROM web_intel.daily_rankings dr\nJOIN web_intel.tracked_keywords tk ON dr.keyword_id = tk.id\nJOIN web_intel.serp_features sf ON dr.keyword_id = sf.keyword_id AND dr.collected_date = sf.collected_date\nWHERE dr.collected_date = CURRENT_DATE\n  AND dr.position BETWEEN 1 AND 3\n  AND sf.featured_snippet IS NOT NULL\n  AND sf.featured_snippet->>'owner' != 'us'\nLIMIT 10",
        "options": {}
      },
      "id": "find-opportunities",
      "name": "Find FS Opportunities",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 0],
      "credentials": {
        "postgres": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-opportunities",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-opportunities",
      "name": "Has Opportunities?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Create info alert for featured snippet opportunities\nconst opportunities = $input.all();\nconst count = opportunities.length;\n\nconst keywords = opportunities.map(o => o.json.keyword).slice(0, 5).join(', ');\n\nreturn [{\n  json: {\n    alert_type: 'opportunity',\n    severity: 'info',\n    title: `Featured Snippet Opportunities (${count})`,\n    message: `Keywords ranking 1-3 without our featured snippet: ${keywords}${count > 5 ? '...' : ''}`,\n    metadata: JSON.stringify({\n      opportunity_type: 'featured_snippet',\n      count,\n      keywords: opportunities.map(o => o.json)\n    })\n  }\n}];"
      },
      "id": "create-alert",
      "name": "Create Opportunity Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -100]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "web_intel",
        "table": "alerts",
        "columns": "alert_type, severity, title, message, metadata",
        "options": {}
      },
      "id": "insert-alert",
      "name": "Insert Alert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1540, -100],
      "credentials": {
        "postgres": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "web_intel",
        "table": "collection_log",
        "columns": "workflow_id, workflow_name, status, records_processed, completed_at",
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, 100],
      "credentials": {
        "postgres": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Daily 5:15am CT": {
      "main": [
        [
          {
            "node": "Fetch Today Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today Rankings": {
      "main": [
        [
          {
            "node": "Transform to SERP Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to SERP Features": {
      "main": [
        [
          {
            "node": "Supabase - Store SERP Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Store SERP Features": {
      "main": [
        [
          {
            "node": "Find FS Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find FS Opportunities": {
      "main": [
        [
          {
            "node": "Has Opportunities?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Opportunities?": {
      "main": [
        [
          {
            "node": "Create Opportunity Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opportunity Alert": {
      "main": [
        [
          {
            "node": "Insert Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Alert": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateId": "web-intel-serp-features"
  },
  "tags": [
    {
      "name": "web-intel"
    },
    {
      "name": "rankings"
    },
    {
      "name": "serp"
    }
  ]
}
