gsd-web-intelligence/workflows/RPT-02-monthly-report.json
{
  "name": "Web Intel - Monthly Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 8 1 * *"}]
        }
      },
      "id": "schedule-trigger",
      "name": "Monthly 1st 8am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DATE_TRUNC('week', collected_date)::DATE as week, SUM(sessions) as sessions, SUM(users) as users, SUM(pageviews) as pageviews FROM web_intel.daily_traffic WHERE collected_date >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') AND collected_date < DATE_TRUNC('month', CURRENT_DATE) GROUP BY DATE_TRUNC('week', collected_date) ORDER BY week"
      },
      "id": "fetch-monthly-traffic",
      "name": "Fetch Monthly Traffic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tk.keyword, tk.priority, first_pos.position as start_position, last_pos.position as end_position, COALESCE(first_pos.position, 100) - COALESCE(last_pos.position, 100) as improvement FROM web_intel.tracked_keywords tk LEFT JOIN LATERAL (SELECT position FROM web_intel.daily_rankings WHERE keyword_id = tk.id AND collected_date >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') ORDER BY collected_date LIMIT 1) first_pos ON true LEFT JOIN LATERAL (SELECT position FROM web_intel.daily_rankings WHERE keyword_id = tk.id AND collected_date < DATE_TRUNC('month', CURRENT_DATE) ORDER BY collected_date DESC LIMIT 1) last_pos ON true WHERE tk.status = 'active' ORDER BY improvement DESC LIMIT 20"
      },
      "id": "fetch-ranking-changes",
      "name": "Fetch Monthly Ranking Changes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM web_intel.backlink_summary"
      },
      "id": "fetch-backlink-summary",
      "name": "Fetch Backlink Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {"values": []}
      },
      "id": "merge-data",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 200]
    },
    {
      "parameters": {
        "jsCode": "// Compile monthly report\nconst items = $input.all();\nconst weeklyTraffic = items.filter(i => i.json.week).map(i => i.json);\nconst rankingChanges = items.filter(i => i.json.keyword && i.json.improvement !== undefined).map(i => i.json);\nconst backlinkSummary = items.find(i => i.json.total_backlinks !== undefined)?.json || {};\n\nconst lastMonth = new Date();\nlastMonth.setMonth(lastMonth.getMonth() - 1);\nconst monthName = lastMonth.toLocaleString('default', { month: 'long', year: 'numeric' });\n\nconst totalSessions = weeklyTraffic.reduce((sum, w) => sum + (w.sessions || 0), 0);\nconst totalUsers = weeklyTraffic.reduce((sum, w) => sum + (w.users || 0), 0);\nconst totalPageviews = weeklyTraffic.reduce((sum, w) => sum + (w.pageviews || 0), 0);\n\nconst improved = rankingChanges.filter(r => r.improvement > 0);\nconst declined = rankingChanges.filter(r => r.improvement < 0);\n\nconst report = {\n  report_type: 'monthly_report',\n  period_start: new Date(lastMonth.getFullYear(), lastMonth.getMonth(), 1).toISOString().split('T')[0],\n  period_end: new Date(lastMonth.getFullYear(), lastMonth.getMonth() + 1, 0).toISOString().split('T')[0],\n  title: `Web Intelligence Monthly Report - ${monthName}`,\n  summary: `Traffic: ${totalSessions.toLocaleString()} sessions | Rankings: ${improved.length} improved, ${declined.length} declined | Backlinks: ${backlinkSummary.total_backlinks || 0} total`,\n  metrics_snapshot: JSON.stringify({\n    traffic: { sessions: totalSessions, users: totalUsers, pageviews: totalPageviews },\n    rankings: { improved: improved.length, declined: declined.length },\n    backlinks: backlinkSummary\n  }),\n  highlights: JSON.stringify([\n    { type: 'metric', message: `${totalSessions.toLocaleString()} total sessions` },\n    { type: 'metric', message: `${improved.length} keywords improved in rankings` },\n    { type: 'metric', message: `${backlinkSummary.new_last_30_days || 0} new backlinks acquired` }\n  ]),\n  status: 'generated',\n  slack_message: `:calendar: *Monthly Web Intelligence Report - ${monthName}*\\n\\n:chart_with_upwards_trend: *Traffic Summary*\\n• Sessions: ${totalSessions.toLocaleString()}\\n• Users: ${totalUsers.toLocaleString()}\\n• Pageviews: ${totalPageviews.toLocaleString()}\\n\\n:dart: *Ranking Performance*\\n• Keywords Improved: ${improved.length}\\n• Keywords Declined: ${declined.length}\\n• Top Improver: ${improved[0]?.keyword || 'N/A'} (+${improved[0]?.improvement || 0} positions)\\n\\n:link: *Backlink Profile*\\n• Total Backlinks: ${backlinkSummary.total_backlinks || 0}\\n• Referring Domains: ${backlinkSummary.referring_domains || 0}\\n• New This Month: ${backlinkSummary.new_last_30_days || 0}`\n};\n\nreturn [{ json: report }];"
      },
      "id": "compile-report",
      "name": "Compile Monthly Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEB_INTEL_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"{{ $json.slack_message }}\"}"
      },
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "web_intel",
        "table": "reports",
        "columns": "report_type, period_start, period_end, title, summary, metrics_snapshot, highlights, status"
      },
      "id": "store-report",
      "name": "Store Report",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Monthly 1st 8am CT": {"main": [[{"node": "Fetch Monthly Traffic", "type": "main", "index": 0}, {"node": "Fetch Monthly Ranking Changes", "type": "main", "index": 0}, {"node": "Fetch Backlink Summary", "type": "main", "index": 0}]]},
    "Fetch Monthly Traffic": {"main": [[{"node": "Merge All Data", "type": "main", "index": 0}]]},
    "Fetch Monthly Ranking Changes": {"main": [[{"node": "Merge All Data", "type": "main", "index": 1}]]},
    "Fetch Backlink Summary": {"main": [[{"node": "Merge All Data", "type": "main", "index": 2}]]},
    "Merge All Data": {"main": [[{"node": "Compile Monthly Report", "type": "main", "index": 0}]]},
    "Compile Monthly Report": {"main": [[{"node": "Send to Slack", "type": "main", "index": 0}, {"node": "Store Report", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "web-intel"}, {"name": "reports"}, {"name": "monthly"}]
}
