gsd-web-intelligence/workflows/SYS-04-credential-validator.json
{
  "name": "Web Intel - Credential Validator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 5 * * 1"}]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Monday 5am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://analyticsdata.googleapis.com/v1beta/properties/{{$env.GA4_PROPERTY_ID}}:runReport",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAnalyticsOAuth2",
        "options": {"timeout": 10000}
      },
      "id": "test-ga4",
      "name": "Test GA4 Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/serp/google/organic/live/advanced",
        "authentication": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[{\"keyword\": \"test\", \"location_code\": 2840, \"language_code\": \"en\", \"depth\": 1}]",
        "options": {"timeout": 10000}
      },
      "id": "test-dataforseo",
      "name": "Test DataForSEO Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 150],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 as connected"
      },
      "id": "test-supabase",
      "name": "Test Supabase Connection",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEB_INTEL_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"text\": \"Credential validation test\"}",
        "options": {"timeout": 10000}
      },
      "id": "test-slack",
      "name": "Test Slack Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {"values": []}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 200]
    },
    {
      "parameters": {
        "jsCode": "// Analyze credential validation results\nconst items = $input.all();\n\nconst results = {\n  ga4: { name: 'Google Analytics 4', status: 'unknown' },\n  dataforseo: { name: 'DataForSEO', status: 'unknown' },\n  supabase: { name: 'Supabase', status: 'unknown' },\n  slack: { name: 'Slack Webhook', status: 'unknown' }\n};\n\nitems.forEach((item, idx) => {\n  const hasError = item.json.error || item.json.message?.includes('error') || item.json.status >= 400;\n  const services = ['ga4', 'dataforseo', 'supabase', 'slack'];\n  const service = services[idx];\n  \n  if (service) {\n    results[service].status = hasError ? 'failed' : 'ok';\n    if (hasError) {\n      results[service].error = item.json.error || item.json.message || 'Connection failed';\n    }\n  }\n});\n\nconst failedServices = Object.entries(results).filter(([k, v]) => v.status === 'failed');\nconst allOk = failedServices.length === 0;\n\nreturn [{\n  json: {\n    all_ok: allOk,\n    results,\n    failed_count: failedServices.length,\n    failed_services: failedServices.map(([k, v]) => v.name),\n    checked_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "analyze-results",
      "name": "Analyze Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "has-failures", "leftValue": "={{ $json.all_ok }}", "rightValue": false, "operator": {"type": "boolean", "operation": "equals"}}]
        }
      },
      "id": "check-failures",
      "name": "Has Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEB_INTEL_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \":rotating_light: *Credential Validation Failed*\\n\\n*Failed Services:*\\n{{ $json.failed_services.map(s => ':x: ' + s).join('\\\\n') }}\\n\\n*Working Services:*\\n{{ Object.entries($json.results).filter(([k,v]) => v.status === 'ok').map(([k,v]) => ':white_check_mark: ' + v.name).join('\\\\n') }}\\n\\n_Please check and update credentials_\"}"
      },
      "id": "alert-failure",
      "name": "Alert Credential Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100]
    }
  ],
  "connections": {
    "Weekly Monday 5am CT": {"main": [[{"node": "Test GA4 Connection", "type": "main", "index": 0}, {"node": "Test DataForSEO Connection", "type": "main", "index": 0}, {"node": "Test Supabase Connection", "type": "main", "index": 0}, {"node": "Test Slack Connection", "type": "main", "index": 0}]]},
    "Test GA4 Connection": {"main": [[{"node": "Merge Results", "type": "main", "index": 0}]]},
    "Test DataForSEO Connection": {"main": [[{"node": "Merge Results", "type": "main", "index": 1}]]},
    "Test Supabase Connection": {"main": [[{"node": "Merge Results", "type": "main", "index": 2}]]},
    "Test Slack Connection": {"main": [[{"node": "Merge Results", "type": "main", "index": 3}]]},
    "Merge Results": {"main": [[{"node": "Analyze Results", "type": "main", "index": 0}]]},
    "Analyze Results": {"main": [[{"node": "Has Failures?", "type": "main", "index": 0}]]},
    "Has Failures?": {"main": [[{"node": "Alert Credential Failure", "type": "main", "index": 0}], []]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "web-intel"}, {"name": "system"}, {"name": "credentials"}, {"name": "weekly"}]
}
