gsd-web-intelligence/workflows/TRF-03-traffic-alert-notifier.json
{
  "name": "Web Intel - Traffic - Alert Notifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web-intel/traffic-alert",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "traffic-alert-notifier"
    },
    {
      "parameters": {
        "jsCode": "// Format Slack message for traffic alerts\nconst data = $input.first().json;\nconst anomalies = data.anomalies || [];\n\nif (anomalies.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\n// Group by severity\nconst critical = anomalies.filter(a => a.severity === 'critical');\nconst warnings = anomalies.filter(a => a.severity === 'warning');\nconst info = anomalies.filter(a => a.severity === 'info');\n\n// Build message sections\nlet message = `:chart_with_downwards_trend: *Traffic Anomaly Alert*\\n\\nDate: ${data.collected_date}\\n`;\n\nif (critical.length > 0) {\n  message += `\\n:red_circle: *Critical* (${critical.length})\\n`;\n  critical.forEach(a => {\n    message += `• ${a.metric}: ${a.current.toLocaleString()} (${a.change_percent}% vs expected ${a.expected.toLocaleString()})\\n`;\n  });\n}\n\nif (warnings.length > 0) {\n  message += `\\n:large_yellow_circle: *Warning* (${warnings.length})\\n`;\n  warnings.forEach(a => {\n    message += `• ${a.metric}: ${a.current.toLocaleString()} (${a.change_percent}% vs expected ${a.expected.toLocaleString()})\\n`;\n  });\n}\n\nif (info.length > 0) {\n  message += `\\n:large_blue_circle: *Info* (${info.length})\\n`;\n  info.forEach(a => {\n    message += `• ${a.metric}: ${a.current.toLocaleString()} (+${a.change_percent}% vs expected ${a.expected.toLocaleString()})\\n`;\n  });\n}\n\nmessage += `\\n<https://analytics.google.com|View in GA4>`;\n\nreturn [{\n  json: {\n    message,\n    severity: critical.length > 0 ? 'critical' : (warnings.length > 0 ? 'warning' : 'info'),\n    alert_count: anomalies.length\n  }\n}];"
      },
      "id": "format-message",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-skip",
      "name": "Should Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEB_INTEL_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.message) }},\n  \"unfurl_links\": false\n}",
        "options": {}
      },
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE web_intel.alerts \nSET notified_at = NOW(), notification_channel = 'slack'\nWHERE alert_type IN ('traffic_drop', 'traffic_spike')\n  AND notified_at IS NULL\n  AND created_at > NOW() - INTERVAL '5 minutes'",
        "options": {}
      },
      "id": "mark-notified",
      "name": "Mark Alerts Notified",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 0],
      "credentials": {
        "postgres": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "web_intel",
        "table": "collection_log",
        "columns": "workflow_id, workflow_name, status, records_processed, completed_at",
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 0],
      "credentials": {
        "postgres": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Should Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send?": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Mark Alerts Notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Alerts Notified": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateId": "web-intel-alert-notifier"
  },
  "tags": [
    {
      "name": "web-intel"
    },
    {
      "name": "traffic"
    },
    {
      "name": "alerts"
    },
    {
      "name": "slack"
    }
  ]
}
