business-os/workflows/condition-rules-executor.json
{
  "name": "Condition Rules Executor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 7:05am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DASHBOARD_URL}}/api/action-center/execute-rules",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"rule_type\": \"condition\"\n}"
      },
      "id": "execute-condition",
      "name": "Execute Condition Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{MOBILE_API_KEY_CREDENTIAL_ID}}",
          "name": "Mobile API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-errors",
              "leftValue": "={{ $json.errors.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-errors",
      "name": "Has Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "=:warning: Condition Rules Executor had errors:\n\n```\n{{ JSON.stringify($json.errors, null, 2) }}\n```\n\nExecuted: {{ $json.executed }} | Skipped: {{ $json.skipped.length }}",
        "otherOptions": {}
      },
      "id": "slack-error",
      "name": "Slack Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [900, 200],
      "credentials": {
        "slackApi": {
          "id": "{{SLACK_CREDENTIAL_ID}}",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "noop-success",
      "name": "Success (No Action)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Daily 7:05am CT": {
      "main": [
        [
          {
            "node": "Execute Condition Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Condition Rules": {
      "main": [
        [
          {
            "node": "Has Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Errors?": {
      "main": [
        [
          {
            "node": "Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success (No Action)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  }
}
