business-os/workflows/daily-digest-sender.json
{
  "name": "Daily Digest Sender",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6-9 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Hourly 6-9am CT Weekdays",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DASHBOARD_URL}}/api/digest/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"all\": true\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "send-digest",
      "name": "Send Digest Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{DIGEST_API_KEY_CREDENTIAL_ID}}",
          "name": "Digest API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-failed",
              "leftValue": "={{ $json.failed }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-failures",
      "name": "Has Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "=:warning: Daily Digest Sender had failures:\n\nSent: {{ $json.sent }}\nSkipped: {{ $json.skipped }}\nFailed: {{ $json.failed }}\n\n```\n{{ JSON.stringify($json.details?.failed || [], null, 2) }}\n```",
        "otherOptions": {}
      },
      "id": "slack-error",
      "name": "Slack Failure Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [900, 200],
      "credentials": {
        "slackApi": {
          "id": "{{SLACK_CREDENTIAL_ID}}",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "success-noop",
      "name": "Success (No Failures)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-sent",
              "leftValue": "={{ $json.sent }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-sent",
      "name": "Any Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "channel": "#daily-digest",
        "text": "=:email: Daily Digest sent to {{ $json.sent }} user(s)\n\nSent: {{ $json.sent }} | Skipped: {{ $json.skipped }} | Failed: {{ $json.failed }}",
        "otherOptions": {}
      },
      "id": "slack-success",
      "name": "Slack Success Log",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1340, 200],
      "credentials": {
        "slackApi": {
          "id": "{{SLACK_CREDENTIAL_ID}}",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "noop-no-sends",
      "name": "No Sends (Skip Log)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Hourly 6-9am CT Weekdays": {
      "main": [
        [
          {
            "node": "Send Digest Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Digest Emails": {
      "main": [
        [
          {
            "node": "Has Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Failures?": {
      "main": [
        [
          {
            "node": "Slack Failure Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success (No Failures)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Failure Alert": {
      "main": [
        [
          {
            "node": "Any Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success (No Failures)": {
      "main": [
        [
          {
            "node": "Any Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Sent?": {
      "main": [
        [
          {
            "node": "Slack Success Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Sends (Skip Log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  }
}
