business-os/workflows/eval-email-sender.json
{
  "name": "Eval Email Sender",
  "active": false,
  "meta": {
    "description": "Hourly cron. For every IAML program instance whose '4 PM local on end_date' has passed, mints evaluation rows for each confirmed attendee (respecting skip_block_eval) and emails them the evaluation link via SendGrid. Idempotent \u2014 safe to re-run. NOTE (2026-04-21): Direct execution in n8n currently errors at startup with no node results; use scripts/send-eval-batch.js as a fallback. Root cause TBD.",
    "templateCredsSetupCompleted": false
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eval-email-run",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        180
      ],
      "webhookId": "eval-email-run"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.eval_get_ready_to_send(100);",
        "options": {}
      },
      "id": "get-queue",
      "name": "Get Send Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        90
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  const firstName = (row.first_name || '').trim() || 'there';\n  const programName = row.program_name || 'your IAML program';\n  const city = (row.city || '').trim();\n  const instructorFirst = (row.instructor_first_name || '').trim();\n  const url = 'https://iaml.com/evaluation.html?token=' + row.resume_token;\n  const subject = city ? ('Your feedback on this week\\'s program in ' + city) : ('Your ' + programName + ' evaluation');\n  let contextClause;\n  if (instructorFirst && city) contextClause = programName + ' with ' + instructorFirst + ' in ' + city;\n  else if (city) contextClause = programName + ' in ' + city;\n  else if (instructorFirst) contextClause = programName + ' with ' + instructorFirst;\n  else contextClause = programName;\n  const text = 'Hi ' + firstName + ',\\n\\nNow that you\\'ve wrapped up ' + contextClause + ', I\\'d appreciate your feedback on the program. Takes about five minutes.\\n\\nOpen your evaluation:\\n' + url + '\\n\\nYour responses shape how we teach the next cohort, and flag anything our team should follow up on with you. The link is unique to you and saves as you go, so pause and return whenever works.\\n\\nThanks,\\n\\nPhoebe Harper\\nDirector of Operations\\nPhone: (949) 760-1700\\nInstitute for Applied Management & Law, Inc.\\n1024 Bayside Dr., Suite 172\\nNewport Beach, CA 92660\\nwww.iaml.com';\n  const sigHtml = '<main style=\"font-family: Inter, Arial, sans-serif; font-size: 16px;\"><table style=\"padding:0px;margin:10px 0;border:none\"><tbody><tr><td style=\"vertical-align:middle;padding:10px 7px 0 0\"><p style=\"line-height: 1.5;\"><img style=\"height: 75px;width: 75px;\" alt=\"Company logo\" height=\"75\" src=\"https://storage.googleapis.com/signaturesatori/customer-C043gkzsd/images/companyLogo/KBouH.png\" width=\"75\"></p></td><td style=\"border-left:3px solid #dddddd;padding:7px 0px 0px 10px;font-family:arial,sans-serif;font-size:12px;line-height:14px;color:#555555\"><div style=\"margin-bottom:10px\"><p style=\"line-height: 1.5;\"><strong><span style=\"font-size: 14px; color: rgb(255, 152, 0)\">Phoebe Harper</span></strong><br>Director of Operations</p></div><div style=\"margin-bottom:10px\"><p style=\"line-height: 1.5;\"><span style=\"color: rgb(0, 102, 255)\">Phone: (949) 760-1700</span></p></div><div><p style=\"line-height: 1.5;\"><strong>Institute for Applied Management &amp; Law, Inc.</strong><br>1024 Bayside Dr., Suite 172<br>Newport Beach, CA 92660<br><a href=\"https://www.iaml.com\"><span style=\"color: rgb(0, 102, 255)\">www.iaml.com</span></a></p></div></td></tr></tbody></table></main>';\n  const html = '<div style=\"font-family: -apple-system, BlinkMacSystemFont, Inter, Arial, sans-serif; max-width: 600px; margin: 0 auto; color: #1a1a2e; padding: 24px; line-height: 1.55;\"><p style=\"font-size: 16px; margin: 0 0 16px;\">Hi ' + firstName + ',</p><p style=\"font-size: 16px; margin: 0 0 16px;\">Now that you&rsquo;ve wrapped up <strong>' + contextClause + '</strong>, I&rsquo;d appreciate your feedback on the program. Takes about five minutes.</p><p style=\"margin: 24px 0;\"><a href=\"' + url + '\" style=\"display: inline-block; padding: 13px 24px; background: #188BF6; color: #ffffff; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 15px;\">Open your evaluation</a></p><p style=\"font-size: 16px; margin: 0 0 16px;\">Your responses shape how we teach the next cohort, and flag anything our team should follow up on with you. The link is unique to you and saves as you go, so pause and return whenever works.</p><p style=\"font-size: 16px; margin: 0 0 8px;\">Thanks,</p>' + sigHtml + '</div>';\n  out.push({ json: { evaluation_id: row.evaluation_id, email: row.email, first_name: row.first_name, last_name: row.last_name, subject: subject, text: text, html: html } });\n}\nreturn out;"
      },
      "id": "compose-email",
      "name": "Compose Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        90
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"personalizations\": [{\"to\": [{\"email\": {{ JSON.stringify($json.email) }}, \"name\": {{ JSON.stringify(($json.first_name || '') + ($json.last_name ? ' ' + $json.last_name : '')) }}}]}],\n  \"from\": {\"email\": \"phoebe.harper@iaml.com\", \"name\": \"Phoebe Harper\"},\n  \"reply_to\": {\"email\": \"phoebe.harper@iaml.com\", \"name\": \"Phoebe Harper\"},\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"content\": [\n    {\"type\": \"text/plain\", \"value\": {{ JSON.stringify($json.text) }}},\n    {\"type\": \"text/html\", \"value\": {{ JSON.stringify($json.html) }}}\n  ],\n  \"categories\": [\"eval\", \"clr-block1\"],\n  \"custom_args\": {\"evaluation_id\": {{ JSON.stringify($json.evaluation_id) }}}\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send via SendGrid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        90
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SENDGRID_CREDENTIAL_ID",
          "name": "SendGrid API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT public.eval_mark_email_sent('{{ $json.evaluation_id }}'::uuid, TRUE, NULL);",
        "options": {}
      },
      "id": "mark-sent",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        896,
        90
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Hourly": {
      "main": [
        [
          {
            "node": "Get Send Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Send Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Send Queue": {
      "main": [
        [
          {
            "node": "Compose Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Email": {
      "main": [
        [
          {
            "node": "Send via SendGrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via SendGrid": {
      "main": [
        [
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "evaluations"
    },
    {
      "name": "email"
    },
    {
      "name": "scheduled"
    }
  ],
  "triggerCount": 2,
  "pinData": {}
}