business-os/workflows/meta-tag-auditor.json
{
  "createdAt": "2026-01-14T22:41:53.062Z",
  "updatedAt": "2026-01-14T22:41:53.322Z",
  "id": "7dlwbR7yQGnTOYcn",
  "name": "Meta Tag Auditor - iaml.com",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 7
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Weekly Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.iaml.com/sitemap.xml"
      },
      "id": "fetch-sitemap",
      "name": "Fetch Sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract URLs from sitemap (limit to 20 for performance)\nconst xml = $input.first().json.data || '';\nconst urlRegex = /<loc>(.*?)<\\/loc>/g;\nconst urls = [];\nlet match;\nwhile ((match = urlRegex.exec(xml)) !== null && urls.length < 20) {\n  urls.push({ url: match[1] });\n}\nreturn urls.map(u => ({ json: u }));"
      },
      "id": "parse-urls",
      "name": "Parse URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-page",
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Analyze meta tags across all pages\nconst items = $input.all();\nconst issues = [];\nconst titles = {};\nconst descriptions = {};\n\nfor (const item of items) {\n  const html = item.json.data || '';\n  const url = item.json.url || 'unknown';\n  \n  // Extract title\n  const titleMatch = html.match(/<title>(.*?)<\\/title>/i);\n  const title = titleMatch ? titleMatch[1].trim() : null;\n  \n  // Extract meta description\n  const descMatch = html.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']*)/i) ||\n                   html.match(/<meta[^>]*content=[\"']([^\"']*)[^>]*name=[\"']description[\"']/i);\n  const description = descMatch ? descMatch[1].trim() : null;\n  \n  // Check for issues\n  if (!title) {\n    issues.push({ url, issue: 'Missing title tag' });\n  } else if (title.length < 30) {\n    issues.push({ url, issue: 'Title too short (' + title.length + ' chars)' });\n  } else if (title.length > 60) {\n    issues.push({ url, issue: 'Title too long (' + title.length + ' chars)' });\n  }\n  \n  if (!description) {\n    issues.push({ url, issue: 'Missing meta description' });\n  } else if (description.length < 70) {\n    issues.push({ url, issue: 'Description too short (' + description.length + ' chars)' });\n  } else if (description.length > 160) {\n    issues.push({ url, issue: 'Description too long (' + description.length + ' chars)' });\n  }\n  \n  // Track for duplicates\n  if (title) {\n    titles[title] = titles[title] || [];\n    titles[title].push(url);\n  }\n  if (description) {\n    descriptions[description] = descriptions[description] || [];\n    descriptions[description].push(url);\n  }\n}\n\n// Check for duplicates\nfor (const [title, urls] of Object.entries(titles)) {\n  if (urls.length > 1) {\n    issues.push({ url: urls[0], issue: 'Duplicate title with ' + (urls.length - 1) + ' other page(s)' });\n  }\n}\n\nreturn [{\n  json: {\n    checkedAt: new Date().toISOString(),\n    pagesChecked: items.length,\n    issues: issues.slice(0, 15),\n    issueCount: issues.length,\n    hasIssues: issues.length > 0\n  }\n}];"
      },
      "id": "analyze",
      "name": "Analyze Meta Tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check",
              "leftValue": "={{ $json.hasIssues }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-issues",
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s",
              "name": "status",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ok",
      "name": "All OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"*Meta Tag Auditor Alert*\\n\\n*Pages Checked:* {{ $json.pagesChecked }}\\n*Issues Found:* {{ $json.issueCount }}\\n\\n{{ $json.issues.slice(0,10).map(i => '\u2022 ' + i.issue + '\\n  ' + i.url).join('\\n') }}\"}",
        "options": {}
      },
      "id": "slack",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        100
      ]
    }
  ],
  "connections": {
    "Weekly Check": {
      "main": [
        [
          {
            "node": "Fetch Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sitemap": {
      "main": [
        [
          {
            "node": "Parse URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse URLs": {
      "main": [
        [
          {
            "node": "Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page": {
      "main": [
        [
          {
            "node": "Analyze Meta Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Meta Tags": {
      "main": [
        [
          {
            "node": "Has Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Issues?": {
      "main": [
        [
          {
            "node": "All OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Weekly Check": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "5cbc8af6-fd2d-41c7-a0bb-c8a7dbc19cf7",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2026-01-14T22:41:53.066Z",
      "updatedAt": "2026-01-14T22:41:53.066Z",
      "role": "workflow:owner",
      "workflowId": "7dlwbR7yQGnTOYcn",
      "projectId": "N5IZDJlcXNhJSNRP",
      "project": {
        "createdAt": "2025-06-18T12:33:00.421Z",
        "updatedAt": "2025-06-18T16:06:52.396Z",
        "id": "N5IZDJlcXNhJSNRP",
        "name": "Mike  Jackson <mike.jackson@realtyamp.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-18T12:33:00.421Z",
            "updatedAt": "2025-06-18T12:33:00.421Z",
            "role": "project:personalOwner",
            "userId": "2ee556b5-70f2-46de-b2a3-6fce9dd3883a",
            "projectId": "N5IZDJlcXNhJSNRP",
            "user": {
              "createdAt": "2025-06-18T12:32:59.783Z",
              "updatedAt": "2026-01-14T22:16:21.000Z",
              "id": "2ee556b5-70f2-46de-b2a3-6fce9dd3883a",
              "email": "mike.jackson@realtyamp.ai",
              "firstName": "Mike ",
              "lastName": "Jackson",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-18T16:07:15.112Z",
                "personalization_survey_n8n_version": "1.98.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "C5H06PO1rEBjrHgi",
                "userActivatedAt": 1750345043352,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768075347683
                },
                "dismissedCallouts": {
                  "ragStarterCallout": true
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-14",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}