business-os/workflows/schema-validator.json
{
  "createdAt": "2026-01-14T22:42:58.108Z",
  "updatedAt": "2026-01-14T22:42:58.362Z",
  "id": "AqUWODfMaJOhS6fb",
  "name": "Schema Validator - iaml.com",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 7
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Weekly Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Key pages to check for structured data\nconst pages = [\n  'https://www.iaml.com/',\n  'https://www.iaml.com/programs/employment-law-update',\n  'https://www.iaml.com/programs/advanced-employment-law',\n  'https://www.iaml.com/about',\n  'https://www.iaml.com/faculty'\n];\nreturn pages.map(url => ({ json: { url } }));"
      },
      "id": "get-pages",
      "name": "Get Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-page",
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check for structured data (JSON-LD)\nconst items = $input.all();\nconst results = [];\nconst issues = [];\n\nfor (const item of items) {\n  const html = item.json.data || '';\n  const url = item.json.url || 'unknown';\n  \n  // Find JSON-LD scripts\n  const jsonLdRegex = /<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>(.*?)<\\/script>/gis;\n  const schemas = [];\n  let match;\n  \n  while ((match = jsonLdRegex.exec(html)) !== null) {\n    try {\n      const data = JSON.parse(match[1]);\n      schemas.push({\n        type: data['@type'] || 'Unknown',\n        valid: true\n      });\n    } catch (e) {\n      issues.push({ url, issue: 'Invalid JSON-LD syntax' });\n    }\n  }\n  \n  // Check for expected schemas\n  const isHomepage = url.endsWith('.com/') || url.endsWith('.com');\n  const isProgramPage = url.includes('/programs/');\n  \n  if (isHomepage && !schemas.some(s => s.type === 'Organization' || s.type === 'WebSite')) {\n    issues.push({ url, issue: 'Homepage missing Organization or WebSite schema' });\n  }\n  \n  if (isProgramPage && !schemas.some(s => s.type === 'Course' || s.type === 'Event' || s.type === 'Product')) {\n    issues.push({ url, issue: 'Program page missing Course/Event schema' });\n  }\n  \n  if (schemas.length === 0) {\n    issues.push({ url, issue: 'No structured data found' });\n  }\n  \n  results.push({\n    url,\n    schemaCount: schemas.length,\n    types: schemas.map(s => s.type)\n  });\n}\n\nreturn [{\n  json: {\n    checkedAt: new Date().toISOString(),\n    pagesChecked: items.length,\n    totalSchemas: results.reduce((sum, r) => sum + r.schemaCount, 0),\n    issues: issues,\n    issueCount: issues.length,\n    hasIssues: issues.length > 0,\n    results: results\n  }\n}];"
      },
      "id": "analyze",
      "name": "Analyze Schemas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check",
              "leftValue": "={{ $json.hasIssues }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-issues",
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s",
              "name": "status",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ok",
      "name": "All OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"*Schema Validator Alert*\\n\\n*Pages Checked:* {{ $json.pagesChecked }}\\n*Total Schemas:* {{ $json.totalSchemas }}\\n*Issues:* {{ $json.issueCount }}\\n\\n{{ $json.issues.map(i => '\u2022 ' + i.issue + '\\n  ' + i.url).join('\\n') }}\"}",
        "options": {}
      },
      "id": "slack",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        100
      ]
    }
  ],
  "connections": {
    "Weekly Check": {
      "main": [
        [
          {
            "node": "Get Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pages": {
      "main": [
        [
          {
            "node": "Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page": {
      "main": [
        [
          {
            "node": "Analyze Schemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Schemas": {
      "main": [
        [
          {
            "node": "Has Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Issues?": {
      "main": [
        [
          {
            "node": "All OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Weekly Check": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "cc45a157-e055-44b2-9311-5a41159b870b",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2026-01-14T22:42:58.111Z",
      "updatedAt": "2026-01-14T22:42:58.111Z",
      "role": "workflow:owner",
      "workflowId": "AqUWODfMaJOhS6fb",
      "projectId": "N5IZDJlcXNhJSNRP",
      "project": {
        "createdAt": "2025-06-18T12:33:00.421Z",
        "updatedAt": "2025-06-18T16:06:52.396Z",
        "id": "N5IZDJlcXNhJSNRP",
        "name": "Mike  Jackson <mike.jackson@realtyamp.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-18T12:33:00.421Z",
            "updatedAt": "2025-06-18T12:33:00.421Z",
            "role": "project:personalOwner",
            "userId": "2ee556b5-70f2-46de-b2a3-6fce9dd3883a",
            "projectId": "N5IZDJlcXNhJSNRP",
            "user": {
              "createdAt": "2025-06-18T12:32:59.783Z",
              "updatedAt": "2026-01-14T22:16:21.000Z",
              "id": "2ee556b5-70f2-46de-b2a3-6fce9dd3883a",
              "email": "mike.jackson@realtyamp.ai",
              "firstName": "Mike ",
              "lastName": "Jackson",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-18T16:07:15.112Z",
                "personalization_survey_n8n_version": "1.98.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "C5H06PO1rEBjrHgi",
                "userActivatedAt": 1750345043352,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768075347683
                },
                "dismissedCallouts": {
                  "ragStarterCallout": true
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-14",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}