business-os/workflows/ssl-certificate-monitor.json
{
  "createdAt": "2026-01-14T22:26:57.880Z",
  "updatedAt": "2026-01-14T22:27:13.804Z",
  "id": "rQPUHpLhXKVHi8NB",
  "name": "SSL Certificate Monitor - iaml.com",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check SSL certificate expiration for www.iaml.com\nconst https = require('https');\n\nconst hostname = 'www.iaml.com';\nconst warningDays = 14;\n\nreturn new Promise((resolve, reject) => {\n  const options = {\n    hostname: hostname,\n    port: 443,\n    method: 'HEAD',\n    rejectUnauthorized: false\n  };\n\n  const req = https.request(options, (res) => {\n    const cert = res.socket.getPeerCertificate();\n    \n    if (!cert || !cert.valid_to) {\n      resolve([{ json: { \n        error: true, \n        message: 'Could not retrieve certificate',\n        hostname: hostname\n      }}]);\n      return;\n    }\n\n    const expiryDate = new Date(cert.valid_to);\n    const now = new Date();\n    const daysUntilExpiry = Math.floor((expiryDate - now) / (1000 * 60 * 60 * 24));\n    \n    resolve([{ json: {\n      hostname: hostname,\n      issuer: cert.issuer?.O || cert.issuer?.CN || 'Unknown',\n      validFrom: cert.valid_from,\n      validTo: cert.valid_to,\n      expiryDate: expiryDate.toISOString(),\n      daysUntilExpiry: daysUntilExpiry,\n      warningThreshold: warningDays,\n      needsAttention: daysUntilExpiry <= warningDays,\n      checkedAt: now.toISOString()\n    }}]);\n  });\n\n  req.on('error', (e) => {\n    resolve([{ json: { \n      error: true, \n      message: e.message,\n      hostname: hostname\n    }}]);\n  });\n\n  req.end();\n});"
      },
      "id": "check-ssl",
      "name": "Check SSL Certificate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-expiry",
              "leftValue": "={{ $json.needsAttention }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-expiring",
      "name": "Expiring Soon?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ 'SSL certificate valid for ' + $json.daysUntilExpiry + ' more days' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cert-ok",
      "name": "Certificate OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":warning: *SSL Certificate Expiring Soon*\\n\\n*Domain:* {{ $json.hostname }}\\n*Days Until Expiry:* {{ $json.daysUntilExpiry }}\\n*Expiry Date:* {{ $json.validTo }}\\n*Issuer:* {{ $json.issuer }}\\n\\nPlease renew the certificate before it expires.\"\n}",
        "options": {}
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"personalizations\": [{\"to\": [{\"email\": \"mike.jackson@iaml.com\"}]}],\n  \"from\": {\"email\": \"mike.jackson@iaml.com\", \"name\": \"IAML SSL Monitor\"},\n  \"subject\": \"=WARNING: SSL Certificate Expiring in {{ $json.daysUntilExpiry }} days\",\n  \"content\": [{\"type\": \"text/plain\", \"value\": \"The SSL certificate for {{ $json.hostname }} is expiring soon.\\n\\nDays Until Expiry: {{ $json.daysUntilExpiry }}\\nExpiry Date: {{ $json.validTo }}\\nIssuer: {{ $json.issuer }}\\n\\nPlease renew the certificate before it expires.\"}]\n}"
      },
      "id": "email-alert",
      "name": "Email Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        220
      ]
    }
  ],
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Check SSL Certificate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SSL Certificate": {
      "main": [
        [
          {
            "node": "Expiring Soon?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expiring Soon?": {
      "main": [
        [
          {
            "node": "Certificate OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Daily Check": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "5916b369-800a-4c7e-b874-f839cbcd9041",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2026-01-14T22:26:57.887Z",
      "updatedAt": "2026-01-14T22:26:57.887Z",
      "role": "workflow:owner",
      "workflowId": "rQPUHpLhXKVHi8NB",
      "projectId": "N5IZDJlcXNhJSNRP",
      "project": {
        "createdAt": "2025-06-18T12:33:00.421Z",
        "updatedAt": "2025-06-18T16:06:52.396Z",
        "id": "N5IZDJlcXNhJSNRP",
        "name": "Mike  Jackson <mike.jackson@realtyamp.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-18T12:33:00.421Z",
            "updatedAt": "2025-06-18T12:33:00.421Z",
            "role": "project:personalOwner",
            "userId": "2ee556b5-70f2-46de-b2a3-6fce9dd3883a",
            "projectId": "N5IZDJlcXNhJSNRP",
            "user": {
              "createdAt": "2025-06-18T12:32:59.783Z",
              "updatedAt": "2026-01-14T22:16:21.000Z",
              "id": "2ee556b5-70f2-46de-b2a3-6fce9dd3883a",
              "email": "mike.jackson@realtyamp.ai",
              "firstName": "Mike ",
              "lastName": "Jackson",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-18T16:07:15.112Z",
                "personalization_survey_n8n_version": "1.98.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "C5H06PO1rEBjrHgi",
                "userActivatedAt": 1750345043352,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768075347683
                },
                "dismissedCallouts": {
                  "ragStarterCallout": true
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-14",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}