business-os/workflows/uptime-monitor.json
{
  "createdAt": "2026-01-13T22:32:44.467Z",
  "updatedAt": "2026-01-14T22:18:18.800Z",
  "id": "QBS1n2E0IFDyhR7y",
  "name": "Uptime Monitor - iaml.com",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.iaml.com",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "http-request",
      "name": "Ping iaml.com",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-up",
      "name": "Site Up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "up",
              "type": "string"
            },
            {
              "id": "checkedAt",
              "name": "checkedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "site-up",
      "name": "Site is Up",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "down",
              "type": "string"
            },
            {
              "id": "statusCode",
              "name": "statusCode",
              "value": "={{ $json.statusCode ?? 'TIMEOUT' }}",
              "type": "string"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error?.message ?? $json.body ?? 'Connection failed' }}",
              "type": "string"
            },
            {
              "id": "checkedAt",
              "name": "checkedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "site-down",
      "name": "Site is Down",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":rotating_light: *ALERT: iaml.com is DOWN*\\n\\n*Status Code:* {{ $json.statusCode }}\\n*Error:* {{ $json.error }}\\n*Checked At:* {{ $json.checkedAt }}\\n\\nPlease investigate immediately.\"\n}",
        "options": {}
      },
      "id": "slack-webhook",
      "name": "Slack Webhook Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"personalizations\": [{\"to\": [{\"email\": \"mike.jackson@iaml.com\"}]}],\n  \"from\": {\"email\": \"mike.jackson@iaml.com\", \"name\": \"IAML Uptime Monitor\"},\n  \"subject\": \"ALERT: iaml.com is DOWN\",\n  \"content\": [{\"type\": \"text/plain\", \"value\": \"iaml.com is currently DOWN.\\n\\nStatus Code: {{ $json.statusCode }}\\nError: {{ $json.error }}\\nChecked At: {{ $json.checkedAt }}\\n\\nPlease investigate immediately.\"}]\n}"
      },
      "id": "send-email",
      "name": "Email Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        192
      ],
      "webhookId": "199d336b-6e5b-4c20-bd6f-df6eb485acb1"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Ping iaml.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping iaml.com": {
      "main": [
        [
          {
            "node": "Site Up?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Site is Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site Up?": {
      "main": [
        [
          {
            "node": "Site is Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Site is Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site is Down": {
      "main": [
        [
          {
            "node": "Slack Webhook Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "17ef646c-3b8d-4f4e-bddd-92c3fcd31ee3",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2026-01-13T22:32:44.472Z",
      "updatedAt": "2026-01-13T22:32:44.472Z",
      "role": "workflow:owner",
      "workflowId": "QBS1n2E0IFDyhR7y",
      "projectId": "N5IZDJlcXNhJSNRP",
      "project": {
        "createdAt": "2025-06-18T12:33:00.421Z",
        "updatedAt": "2025-06-18T16:06:52.396Z",
        "id": "N5IZDJlcXNhJSNRP",
        "name": "Mike  Jackson <mike.jackson@realtyamp.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-18T12:33:00.421Z",
            "updatedAt": "2025-06-18T12:33:00.421Z",
            "role": "project:personalOwner",
            "userId": "2ee556b5-70f2-46de-b2a3-6fce9dd3883a",
            "projectId": "N5IZDJlcXNhJSNRP",
            "user": {
              "createdAt": "2025-06-18T12:32:59.783Z",
              "updatedAt": "2026-01-14T22:16:21.000Z",
              "id": "2ee556b5-70f2-46de-b2a3-6fce9dd3883a",
              "email": "mike.jackson@realtyamp.ai",
              "firstName": "Mike ",
              "lastName": "Jackson",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-18T16:07:15.112Z",
                "personalization_survey_n8n_version": "1.98.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "C5H06PO1rEBjrHgi",
                "userActivatedAt": 1750345043352,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768075347683
                },
                "dismissedCallouts": {
                  "ragStarterCallout": true
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-14",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}