business-os/workflows/weekly-ai-focus.json
{
  "name": "Weekly AI Focus Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19 * * 0"
            },
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Planning and Recap",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Determine mode based on day of week\n// Sunday = 0, Friday = 5\nconst now = new Date();\nconst dayOfWeek = now.getDay();\n\nlet mode = 'planning';\nif (dayOfWeek === 5) {\n  mode = 'recap';\n} else if (dayOfWeek === 0) {\n  mode = 'planning';\n}\n\n// Get ISO week number for dedupe key\nconst getWeekNumber = (d) => {\n  const date = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));\n  const dayNum = date.getUTCDay() || 7;\n  date.setUTCDate(date.getUTCDate() + 4 - dayNum);\n  const yearStart = new Date(Date.UTC(date.getUTCFullYear(), 0, 1));\n  return Math.ceil((((date - yearStart) / 86400000) + 1) / 7);\n};\n\nconst weekNumber = getWeekNumber(now);\nconst year = now.getFullYear();\nconst weekKey = `${year}-W${String(weekNumber).padStart(2, '0')}`;\n\nreturn [{\n  json: {\n    mode: mode,\n    weekKey: weekKey,\n    timestamp: now.toISOString()\n  }\n}];"
      },
      "id": "determine-mode",
      "name": "Determine Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DASHBOARD_URL}}/api/action-center/ai-analysis",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mode\": \"{{ $json.mode }}\",\n  \"max_suggestions\": 10\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-ai-analysis",
      "name": "Call AI Analysis API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{DASHBOARD_API_KEY_CREDENTIAL_ID}}",
          "name": "Dashboard API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-api-success",
      "name": "API Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build Weekly Focus Review task description from AI analysis\nconst analysisResult = $json.data;\nconst modeData = $('Determine Mode').first().json;\nconst mode = modeData.mode;\nconst weekKey = modeData.weekKey;\n\n// Format date for task title\nconst now = new Date();\nconst dateFormatted = now.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });\n\n// Build markdown description\nlet description = `## This Week's Focus\\n${analysisResult.summary}\\n\\n`;\n\n// Add suggested actions section\nif (analysisResult.suggestions && analysisResult.suggestions.length > 0) {\n  description += `## Suggested Actions\\n`;\n  analysisResult.suggestions.forEach((suggestion, i) => {\n    const confidence = suggestion.confidence ? ` (${suggestion.confidence}% confidence)` : '';\n    description += `${i + 1}. **${suggestion.title}**${confidence}\\n`;\n    if (suggestion.description) {\n      description += `   ${suggestion.description}\\n`;\n    }\n    description += `\\n`;\n  });\n}\n\n// Add patterns section\nif (analysisResult.patterns && analysisResult.patterns.length > 0) {\n  description += `## Patterns Noticed\\n`;\n  analysisResult.patterns.forEach(pattern => {\n    const severityEmoji = pattern.severity === 'high' ? '🔴' : pattern.severity === 'medium' ? '🟡' : '🟢';\n    description += `${severityEmoji} **${pattern.type}**: ${pattern.description}\\n`;\n    if (pattern.affected_items && pattern.affected_items.length > 0) {\n      description += `   Affected: ${pattern.affected_items.join(', ')}\\n`;\n    }\n    description += `\\n`;\n  });\n}\n\n// Add last week review section (for Friday recap)\nif (analysisResult.last_week_review) {\n  description += `## Last Week Review\\n${analysisResult.last_week_review}\\n`;\n}\n\nreturn [{\n  json: {\n    taskTitle: `Weekly Focus Review - ${dateFormatted}`,\n    taskDescription: description,\n    dedupeKey: `weekly_focus:${weekKey}`,\n    mode: mode,\n    weekKey: weekKey,\n    suggestions: analysisResult.suggestions || [],\n    suggestionCount: analysisResult.suggestions ? analysisResult.suggestions.length : 0\n  }\n}];"
      },
      "id": "build-task-content",
      "name": "Build Task Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO action_center.tasks (\n  title,\n  description,\n  task_type,\n  source,\n  priority,\n  dedupe_key,\n  status\n) VALUES (\n  '{{ $json.taskTitle }}',\n  '{{ $json.taskDescription.replace(/'/g, \"''\") }}',\n  'review',\n  'ai',\n  'normal',\n  '{{ $json.dedupeKey }}',\n  'open'\n)\nON CONFLICT (dedupe_key) WHERE dedupe_key IS NOT NULL\nDO UPDATE SET\n  description = EXCLUDED.description,\n  updated_at = NOW()\nRETURNING id, title, created_at;",
        "options": {}
      },
      "id": "create-weekly-focus-task",
      "name": "Create Weekly Focus Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 200],
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare AI suggestions for insertion\nconst taskData = $('Build Task Content').first().json;\nconst suggestions = taskData.suggestions || [];\nconst weekKey = taskData.weekKey;\n\n// Filter suggestions that should create new tasks\n// Only include suggestions of type 'new_task'\nconst newTaskSuggestions = suggestions.filter(s => s.type === 'new_task');\n\nif (newTaskSuggestions.length === 0) {\n  return [{\n    json: {\n      hasSuggestions: false,\n      message: 'No new task suggestions to create'\n    }\n  }];\n}\n\n// Return each suggestion as a separate item for the loop\nreturn newTaskSuggestions.map((suggestion, index) => ({\n  json: {\n    hasSuggestions: true,\n    title: suggestion.title,\n    description: suggestion.description || '',\n    priority: suggestion.priority || 'normal',\n    dueDate: suggestion.due_date || null,\n    aiConfidence: suggestion.confidence || null,\n    reasoning: suggestion.reasoning || null,\n    dedupeKey: `ai_suggestion:${weekKey}:${index}`,\n    weekKey: weekKey\n  }\n}));"
      },
      "id": "prepare-suggestions",
      "name": "Prepare AI Suggestions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-suggestions",
              "leftValue": "={{ $json.hasSuggestions }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-suggestions",
      "name": "Has Suggestions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO action_center.tasks (\n  title,\n  description,\n  source,\n  priority,\n  due_date,\n  ai_confidence,\n  ai_suggested_at,\n  dedupe_key,\n  status\n) VALUES (\n  '{{ $json.title }}',\n  '{{ ($json.description || \"\").replace(/'/g, \"''\") }}{{ $json.reasoning ? \"\\n\\n_AI Reasoning: \" + $json.reasoning.replace(/'/g, \"''\") + \"_\" : \"\" }}',\n  'ai',\n  '{{ $json.priority }}',\n  {{ $json.dueDate ? \"'\" + $json.dueDate + \"'\" : 'NULL' }},\n  {{ $json.aiConfidence !== null ? $json.aiConfidence : 'NULL' }},\n  NOW(),\n  '{{ $json.dedupeKey }}',\n  'open'\n)\nON CONFLICT (dedupe_key) WHERE dedupe_key IS NOT NULL\nDO NOTHING\nRETURNING id, title;",
        "options": {}
      },
      "id": "create-suggestion-task",
      "name": "Create Suggestion Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 100],
      "credentials": {
        "postgres": {
          "id": "EgmvZHbvINHsh6PR",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "no-suggestions-noop",
      "name": "No New Suggestions",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-suggestion-results",
      "name": "Merge Suggestion Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "jsCode": "// Count created suggestions from all items\nconst allItems = $input.all();\nlet createdCount = 0;\nlet skippedCount = 0;\n\nallItems.forEach(item => {\n  if (item.json.id) {\n    createdCount++;\n  } else if (item.json.hasSuggestions === false) {\n    // No suggestions to create\n  } else {\n    skippedCount++; // Duplicate, skipped by ON CONFLICT DO NOTHING\n  }\n});\n\nconst modeData = $('Determine Mode').first().json;\nconst taskCreated = $('Create Weekly Focus Task').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    mode: modeData.mode,\n    weekKey: modeData.weekKey,\n    weeklyFocusTaskId: taskCreated.id,\n    weeklyFocusTaskTitle: taskCreated.title,\n    suggestionsCreated: createdCount,\n    suggestionsSkipped: skippedCount\n  }\n}];"
      },
      "id": "summarize-results",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 200]
    },
    {
      "parameters": {
        "channel": "#ai-focus",
        "text": "=:brain: *Weekly AI Focus Generated*\n\n*Mode:* {{ $json.mode === 'planning' ? 'Sunday Planning' : 'Friday Recap' }}\n*Week:* {{ $json.weekKey }}\n\n:white_check_mark: Weekly Focus Review task created\n:bulb: {{ $json.suggestionsCreated }} AI suggestions created{{ $json.suggestionsSkipped > 0 ? ' (' + $json.suggestionsSkipped + ' duplicates skipped)' : '' }}",
        "otherOptions": {}
      },
      "id": "slack-success",
      "name": "Slack Success Log",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2660, 200],
      "credentials": {
        "slackApi": {
          "id": "{{SLACK_CREDENTIAL_ID}}",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Capture error from API call\nconst apiResponse = $('Call AI Analysis API').first().json;\nconst modeData = $('Determine Mode').first().json;\n\nlet errorMessage = 'Unknown error';\nif (apiResponse.error) {\n  errorMessage = apiResponse.error;\n} else if (apiResponse.message) {\n  errorMessage = apiResponse.message;\n} else if (!apiResponse.success) {\n  errorMessage = 'API returned success: false';\n}\n\nreturn [{\n  json: {\n    success: false,\n    mode: modeData.mode,\n    weekKey: modeData.weekKey,\n    error: errorMessage,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "capture-error",
      "name": "Capture Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "=:x: *Weekly AI Focus Generation Failed*\n\n*Mode:* {{ $json.mode === 'planning' ? 'Sunday Planning' : 'Friday Recap' }}\n*Week:* {{ $json.weekKey }}\n*Error:* {{ $json.error }}\n*Timestamp:* {{ $json.timestamp }}\n\nCheck n8n execution logs and AI analysis API for details.",
        "otherOptions": {}
      },
      "id": "slack-error",
      "name": "Slack Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1340, 400],
      "credentials": {
        "slackApi": {
          "id": "{{SLACK_CREDENTIAL_ID}}",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Weekly Planning and Recap": {
      "main": [
        [
          {
            "node": "Determine Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Mode": {
      "main": [
        [
          {
            "node": "Call AI Analysis API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Analysis API": {
      "main": [
        [
          {
            "node": "API Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Success?": {
      "main": [
        [
          {
            "node": "Build Task Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Task Content": {
      "main": [
        [
          {
            "node": "Create Weekly Focus Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Weekly Focus Task": {
      "main": [
        [
          {
            "node": "Prepare AI Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Suggestions": {
      "main": [
        [
          {
            "node": "Has Suggestions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Suggestions?": {
      "main": [
        [
          {
            "node": "Create Suggestion Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Suggestion Task": {
      "main": [
        [
          {
            "node": "Merge Suggestion Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No New Suggestions": {
      "main": [
        [
          {
            "node": "Merge Suggestion Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Suggestion Results": {
      "main": [
        [
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Results": {
      "main": [
        [
          {
            "node": "Slack Success Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Error": {
      "main": [
        [
          {
            "node": "Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  }
}
